<div class="card">
    <div class="card-header">
        <span class="widget-icon"> <i class="fa fa-desktop text-white"></i> </span>
        <h2> Data Uploads </h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>                
                <tr>
                    <td>
                        NZPI Data Import
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZPIImportOwners">Upload Owners/Planners</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZPIImportPlanners">Upload Planners</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZPIImportContractors">Upload Contractors</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
    <script type="text/javascript">
        function ClearMerchantForm() {
            $("#merchantUserName").val("");
            $("#merchantPassword").val("");
            $("#merchantKey").val("");
            $("#merchantReference").val("");
        }
    </script>