
    <!-- Header Start-->
    <header>
        <span class="widget-icon"> <i class="fa fa-desktop text-white"></i> </span>
        <h2> Data Uploads </h2>
    </header>
    <!-- Header End -->
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <div>
                <label>Title:</label>
                <input type="text" />
            </div>
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="table-responsive custom-scroll">
                <table class="table table-bordered">                    
                    <tbody>
                        <tr>
                            <td>
                                NZACS Data Import (Client, Principals, etc)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/AONImportUsers">Upload Clients</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/AONImportPrincipals">Upload Principals</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/AONImportContracts">Upload Contracts</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/AONImportClaims">Upload Notification</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                CEAS Data Import (Client, Principals, etc)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/CEASImportUsers">Upload Clients</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/CEASImportPrincipals">Upload Principals</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/CEASImportContracts">Upload Contracts</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/CEASImportClaims">Upload Notifications</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/CEASUpdateUsers">Correct Client User</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PMINZ Data Import (Client, Personnel, etc)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/PMINZImportUsers">Upload Clients</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/PMINZImportPrincipals">Upload Principals</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/PMINZImportContracts">Upload Contracts</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/PMINZImportPreRenewData">Upload Pre-Renew Data</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DANZ Data Import (Client, Personnel, etc)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/DANZImportUsers">Upload Clients</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/DANZImportPersonnel">Upload Personal</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/DANZImportClaims">Upload Notifications</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/DANZImportPreRenewData">Upload Pre-Renew Data</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                NZFSG Data Import (Client, Personnel, etc)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportUsers">Upload Clients</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportUsers">Upload Advisor</a>
                            </td>
                           
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportUsers">Upload Pre-Renew Data</a>
                            </td>
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->

    <script type="text/javascript">
        function ClearMerchantForm() {
            $("#merchantUserName").val("");
            $("#merchantPassword").val("");
            $("#merchantKey").val("");
            $("#merchantReference").val("");
        }
    </script>



