@model IEnumerable<DealEngine.WebUI.Models.PaymentGatewayViewModel>
<!-- Header Start-->

<div class="card">
    <div class="card-header">
        <span class="widget-icon"> <i class="fa fa-desktop text-white"></i> </span>
        <h2> Payment Gateways </h2>
    </div>
    <div class="card-body">
        <form action="/Admin/AddPaymentGateway" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#paymentGatewayList"
              data-ajax-success="ClearPaymentGatewayForm();" id="paymentgatewayform" method="post">
            <table id="paymentGatwaysTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Payment Gateway Name</th>
                        <th>Payment Gateway Web Service URL</th>
                        <th>Payment Gateway Response Page URL</th>
                        <th>Payment Gateway Type</th>
                        <th>@*@Ajax.FixedActionLink("Refresh", "PaymentGatewayList", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "paymentGatewayList" })*@</th>
                    </tr>
                </thead>
                <tbody id="paymentGatewayList">

                    @{ await Html.RenderPartialAsync("_PaymentGatewayList", Model); }

                </tbody>
                <tfoot>
                    <tr>
                        <td>@Html.TextBox("paymentGatewayName") </td>
                        <td>@Html.TextBox("paymentGatewayWebServiceURL")</td>
                        <td>@Html.TextBox("paymentGatewayResponsePageURL") </td>
                        <td>@Html.TextBox("paymentGatewayType") </td>
                        <td><button type="submit" class="btn btn-success">Add</button></td>

                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    function ClearPaymentGatewayForm() {
        $("#paymentGatewayName").val("");
        $("#paymentGatewayWebServiceURL").val("");
        $("#paymentGatewayResponsePageURL").val("");
        $("#paymentGatewayType").val("");
    }
</script>


