@model TechCertain.WebUI.Models.Product.TerritoryAttachVM

<div class="container">
    <h3><strong>Setup </strong> - Attach Programme</h3>
    <div class="input-group">
        <select id="TerritoryAttach_SelectedProgramme" name="TerritoryAttach.SelectedProgramme" class="col-4">
            <option selected>-- Select a Programme</option>
            @foreach (var prog in Model.BaseProgList)
            {
                <option value="@prog.Value">@prog.Text</option>
            }
        </select>
    </div>
    </br>
    <div class="input-group">
        <button type="submit" class="btn-primary btn" onclick="SubmitTerritory()">Submit</button>
    </div>
</div>

