@model TechCertain.WebUI.Models.Programme.ProgrammeInfoViewModel
<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="container">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>  <span>
                    <a href="~/Programme/TermSheetConfirguration/@Model.Id"> Package Term Sheet</a>
                    > Edit Programme

                </span>

            </h1>
            <span>
                <a onclick="location.href='@Url.Action("TermSheetConfirguration", "Programme",new { Id =@Model.Id })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
            </span>
        </div>
        <!-- end col -->
    </div>
    @await  Html.PartialAsync("ProgrammeFormPartial", Model)
</div>

