@model TechCertain.WebUI.Models.Programme.ProgrammeInfoViewModel


<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-o"></i><a href="~/Programme/MyProgrammes/@Model.Id"> Programmes</a>
                <span>
                    > Clients Programmes
                    >Programme owner
                </span>
            </h1>
        </div>
        <!-- end col -->
    </div>
    <div>
        <a onclick="location.href='@Url.Action("MyProgrammes", "Programme",new { Id =@Model.Id })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="glyphicon glyphicon-circle-arrow-left"></span> </a>

    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa--envelope txt-color-white"></i> </span>
                        <h2> Programme Owner </h2>
                    </header>
                    <!-- widget div-->
                    @*<div>*@
                    @*<div class="widget-body no-padding smart-form">*@
                    <!-- content goes here -->


                    <table class="table table-bordered table-striped table-hover table-condensed">

                        <thead>
                            <tr>
                                <th>Owner Name </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var owner in Model.Owner)
                            {
                                <tr onclick="location.href='@Url.Action("ownerlist", "Programme",new { owner = @owner.Name,Id=Model.Id })'" style="cursor:pointer">

                                    <td align="center">

                                        @owner.Name
                                    </td>

                                    <td align="center" style="word-wrap: break-word">
                                        Sent to members from the "Send Emails" page.This Template can be used to send message to all members in a project.
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                    @*</div>
                        </div>*@
                </div>
            </article>
        </div>
    </section>
</div>