@model TechCertain.WebUI.Models.Programme.ProgrammeInfoViewModel
<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-o"></i>  <span>
                    <a href="~/Programme/TermSheetConfirguration/@Model.Id">Package Term Sheet</a>
                    > Manage Programme

                </span>

            </h1>
        </div>
        <!-- end col -->
    </div>
    <span>
        <a onclick="location.href='@Url.Action("TermSheetConfirguration", "Programme",new { Id =@Model.Id })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="glyphicon glyphicon-circle-arrow-left"></span>  </a>
    </span>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- end row -->
        <!-- row -->

        <div class="row">
            <div class="col-sm-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="well well-light well-sm no-margin no-padding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <form action="~/Admin/SysExchange" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
                                                    <fieldset>
     
                                                        <section>
                                                            <label class="label required">Programme Name:</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" name="progName" placeholder="Programme Name">
                                                            </label>
                                                        </section>
                                                        

                                                        <section>
                                                            <div class="">
                                                                <button type="submit" class="btn txt-color-white bg-color-green btn-sm"><i class="fa fa-edit"></i> Add</button>
                                                                <a href="~/Admin" class="btn txt-color-white bg-color-yellow btn-sm"><i class="fa fa-trash"></i> Cancel</a>
                                                            </div>
                                                        </section>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </section>
</div>

