@model DealEngine.WebUI.Models.Report.ReportViewModel

<div class="card">
    <div class="card-body">
        <h5 class="card-title">CG Data</h5>
        <p class="card-text" style="margin-top:30px;">Json</p>
        <div class="form-group">
            <select class="form-control" Id="ClientId" onchange="Serialise('5bc11b5d-6720-4c24-a62d-abc90183cf04')">
                <option selected="selected" value="">Add New</option>
                <option  value="">change</option>
                @*@foreach (var client in Model.SelectedClients)
                {
                    <option value="@client.Value">@client.Text</option>
                }*@
            </select>            
        </div>
    </div>
</div>


@section pagespecific {

    <script type="text/javascript">

        function Serialise(exampleId) {
            var clientId = document.getElementById('ClientId').value;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("Create", "Report")',
                data: { Id: exampleId }
            })
                .done(function (data) {
                    debugger;
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });
        }
    </script>
}
