@model TechCertain.WebUI.Models.InformationViewModel
<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">
        <fieldset id="ClaimHistory">
            <div class="row">


                <div class="panel-body" id="@Model.Id body">

                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">


                        <label class="label cgmodalLabel">1. HAVE YOU OR ANY PERSON OR ENTITY TO BE COVERED UNDER THE PROPOSED INSURANCE</label>

                        <section class="col col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <label class="label required">
                                a) In the past five years experienced any loss or damage of $5,000 or more (whether a claim was made or not) which would have been covered by or is related to the type of insurance (including any companion covers) now being proposed?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <label class="input">
                                <select id="Claimexp1" onchange="validateClaimDetails('Claimexp1')" class="form-control rmv editable" name="Claimexp1">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateClaimcond1"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-9 col-md-9 col-lg-9">

                            <div class="row hidden" id="Claimexp1Sec">
                                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group col col-6">
                                        <label><strong>You have answered "Yes" </strong>, please provide more details:</label>
                                        <textarea class="form-control" placeholder="More Details" rows="5" id="Claimexp1Details"></textarea>
                                    </div>
                                </div>
                            </div>
                            <p class="validationContainer" id="ValidateClaimDetails1"></p>

                        </section>


                        <section class="col col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <label class="label required">
                                b) Ever withdrawn a claim?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <label class="input">
                                <select id="Claimexp2" onchange="validateClaimDetails('Claimexp2')" class="form-control rmv editable" name="Claimexp2">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateClaimcond2"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-10 col-md-10 col-lg-10">

                            <div class="row hidden " id="Claimexp2Sec">
                                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group col col-6">
                                        <label><strong>You have answered "Yes" </strong>, please provide more details:</label>
                                        <textarea class="form-control" placeholder="More Details" rows="5" id="Claimexp2Details"></textarea>
                                    </div>

                                </div>
                            </div>
                            <p class="validationContainer" id="ValidateClaimDetails2"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <label class="label required">
                                c) Ever have insurance voided, refused, cancelled, renewal not offered, special conditions and/or premium imposed or a claim refused?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <label class="input">
                                <select id="Claimexp3" onchange="validateClaimDetails('Claimexp3')" class="form-control rmv editable" name="Claimexp3">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateClaimcond3"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-10 col-md-10 col-lg-10">

                            <div class="row hidden" id="Claimexp3Sec">
                                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group col col-6">
                                        <label><strong>You have answered "Yes" </strong>, please provide more details:</label>
                                        <textarea class="form-control" placeholder="More Details" rows="5" id="Claimexp3Details"></textarea>
                                    </div>

                                </div>
                            </div>
                            <p class="validationContainer" id="ValidateClaimDetails3"></p>

                        </section>

                    </section>


                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">


                        <label class="label cgmodalLabel">1. HAVE YOU OR ANY PERSON OR ENTITY TO BE COVERED UNDER THE PROPOSED INSURANCE, OR ANY PERSON WHO MAY BENEFIT FROM THE PROPOSED INSURANCE:</label>

                        <section class="col col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <label class="label required">
                                a) Ever been charged with, convicted of, or have a pending prosecution for any criminal or statutory offence? The answer to this question may be subjected to the provisions of the Criminal Records(Clean Slate)Act.
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <label class="input">
                                <select id="Claimexp4" onchange="validateClaimDetails('Claimexp4')" class="form-control rmv editable" name="Claimexp4">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateClaimcond4"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-10 col-md-10 col-lg-10">

                            <div class="row hidden" id="Claimexp4Sec">
                                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group col col-6">
                                        <label><strong>You have answered "Yes" </strong>, please provide more details:</label>
                                        <textarea class="form-control" placeholder="More Details" rows="5" id="Claimexp4Details"></textarea>
                                    </div>


                                </div>
                            </div>
                            <p class="validationContainer" id="ValidateClaimDetails4"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <label class="label required">
                                b) Ever been bankrupt, gone into liquidation/receivership or been a director of a company that has gone into liquidation/receivership?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <label class="input">
                                <select id="Claimexp5" onchange="validateClaimDetails('Claimexp5')" class="form-control rmv editable" name="Claimexp5">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateClaimcond5"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-10 col-md-10 col-lg-10">

                            <div class="row hidden" id="Claimexp5Sec">
                                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group col col-6">
                                        <label><strong>You have answered "Yes" </strong>, please provide more details:</label>
                                        <textarea class="form-control" placeholder="More Details" rows="5" id="Claimexp5Details"></textarea>
                                    </div>

                                </div>
                            </div>
                            <p class="validationContainer" id="ValidateClaimDetails5"></p>

                        </section>

                    </section>


                </div>
            </div>

        </fieldset>
    </div>
</div>

@section pagespecific {
    <script>
        $(window).on("load", function () {
            debugger;
            for (var answer in @Model.ClientInformationAnswers)
            {

                debugger;
                if(answer.ItemName == "Claim1")
                {
                    $('#Claim1').val() = 0;
                }
            }

          });
    </script>


    @Html.Partial("_InformationWizardScripts")
}
