@model TechCertain.WebUI.Models.InformationViewModel
<div class="padding-10">
    <div id="DNOForm" class="smart-form" novalidate="novalidate">
        <fieldset id="DirectorsOfficersLiability">
            <div class="row">


                <div class="panel-body" id="@Model.Id body">

                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <label class="label required">
                                Would you like Cyber Liability Insurance?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label class="input">
                                <select id="DNO1" onchange="CyberLiabilityInsurance1Selected('DNO1')" class="form-control rmv editable" name="DNO1">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateDNO1"></p>

                        </section>

                    </section>

                    <div id="CyberLiabilitySec" style="display:none">

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    Is this a renewal of an existing Cyber or Internet liability policy placed with NZACS?
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO2" class="form-control rmv editable" name="DNO2">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO2"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have security software controls to protect our computer systems, e.g. anti-virus protection, firewalls, etc.
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO3" class="form-control rmv editable" name="DNO3">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO3"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have access controls in place (e.g. passwords) for employees and other users to deny access to sensitive data on computer systems
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO4" class="form-control rmv editable" name="DNO4">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO4"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have security controls in place to prohibit unauthorised access to our computer systems
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO5" class="form-control rmv editable" name="DNO5">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO5"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have backup and recovery procedures for all data and IT systems
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO6" class="form-control rmv editable" name="DNO6">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO6"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we do not have any domiciled operations or derive revenue from USA, Canada, UK, Europe or Australia
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO7" class="form-control rmv editable" name="DNO7">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO7"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we do not have business operations that would be classified as: Financial Institution, Medical/Health, Call Centre, Telemarketing, Data Processing (Outsourcing), Internet Service,
                                    Telecommunications, Social Networking, Credit Bureaus, Payment Processing, Gaming, Cloud Provider
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO8" class="form-control rmv editable" name="DNO8">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO8"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we do not collect, and/or processes and/or store credit card information
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO9" class="form-control rmv editable" name="DNO9">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO9"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have not sustained any single loss or losses, or suffered from any prior cyber breaches, including but not limited to data loss, network intrusion, hack attack (including telephone hacking), and any fines, in the last three years, for which this proposed insurance may respond to
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO10" class="form-control rmv editable" name="DNO10">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO10"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we do not have any knowledge of any act, omission, fact, event or circumstance which might give rise to a loss under this proposed insurance after full enquiry of any of its directors, officers and employees
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO11" class="form-control rmv editable" name="DNO11">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO11"></p>

                            </section>

                        </section>

                    </div>
                </div>
            </div>

            <button onclick="ValidateCyber(); event.preventDefault();" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>
            @*<button onclick="ClearDNO(event,'#DNOForm')" class="btn-sm AddClearBoat" id="ClearBoat">Clear and Cancel</button>*@

        </fieldset>
    </div>
</div>

<script type="text/javascript">

    $(window).on("load", function () {
        var clientInformationSheet = $('#AnswerSheetId').val();
        var postData = { ClientInformationSheet: clientInformationSheet };

        $.ajax({
            url: '@Url.Action("GetDNO", "Information")',
            type: "POST",
            data: postData
        })
            .done(function (data) {
                if (data != "" &&
                    (data[0] != null && data[1] != null && data[2] != null && data[3] != null && data[4] != null &&
                    data[5] != null && data[6] != null && data[7] != null && data[8] != null && data[9] != null &&
                    data[10] != null)
                ) {

                    for (var item = 0; item < data.length; item++){
                        var arr = data[item];
                        var count = 0;
                        $('#' + arr[count]).val(arr[count + 1]);
                    }

                    if ($('#DNO1').val() == "true") {
                        $('#CyberLiabilitySec').show();
                    } else {
                        $('#CyberLiabilitySec').hide();
                    }
                }
            })
            .fail(function (a, s, d) {
                debugger;
                alert("Unable to save.");
            });
    });


        var clientInformationSheet = $('#AnswerSheetId').val();

        function CyberLiabilityInsurance1Selected(DNO1) {
        debugger;

        var CyberLiability = document.getElementById(DNO1);

            if (CyberLiability.options[CyberLiability.selectedIndex].value == "true") {

            $('#CyberLiabilitySec').show();
            } else {
            $('#DNO2').val('');
            $('#DNO3').val('');
            $('#DNO4').val('');
            $('#DNO5').val('');
            $('#DNO6').val('');
            $('#DNO7').val('');
            $('#DNO8').val('');
            $('#DNO9').val('');
            $('#DNO10').val('');
            $('#DNO11').val('');
            $('#CyberLiabilitySec').hide();
            }

        };

         function ValidateCyber() {
             debugger;
             var validity = true;
             if ($('#DNO1').val() == '') {
                 $('#ValidateDNO1').html("<font color='red'>Field is required</font>")
                  if (validity) {
                  validity = false;
                }else {
                     $(validator).html("<i></i>");
                }
              }

             for (var index = 2; index <= 11; index++) {
                     var DNOId = "#DNO" + index;
                 var value = $(DNOId).val();
                 var validator = "#ValidateDNO" + index;

                  if (value == "" && ($('#DNO1').val()=='true')) {
              $(validator).html("<font color='red'>Field is required</font>")
                if (validity) {
                  validity = false;
                }
                  } else {
                     $(validator).html("<i></i>");
                }

             }

             if (validity) {
                ValidateDNO(); 
              }
         };


        function ValidateDNO() {
            debugger;
                   var DNO = new Array(11); 
    
                   for (var i = 0; i < DNO.length; i++) { 
                       DNO[i] = new Array(2); 
                   } 

            for (var i = 1; i <= 11; i++) {
                for (var j = 0; j < 2; j++) {
                    DNO[i-1][0] = "DNO" + i;
                var DNOId = "#DNO" + i;
                DNO[i-1][1] = $(DNOId).val();
                }
                       
            }

                   var postData = { Answers: DNO, ClientInformationSheet: clientInformationSheet };

             $.ajax({
                           url: '@Url.Action("UpdateAnswer", "Information")',
                           type: "POST",
                           data: postData
                       })
                           .done(function (data) {

                           })
                           .fail(function (a, s, d) {
                               alert("Unable to save.");
                           });

  
        }
    </script>

