@model TechCertain.WebUI.Models.InformationViewModel
<div class="padding-10">
    <div id="PIForm" class="smart-form" novalidate="novalidate">
        <fieldset id="ProfessionalIndemnity">
            <div class="row">


                <div class="panel-body" id="@Model.Id body">

                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Have you specified Aluminium Composite Panel on any building?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="input">
                                <select id="ProfessionalIndemnity1" class="form-control rmv editable" name="ProfessionalIndemnity">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateProfessionalIndemnity"></p>

                        </section>

                    </section>


                </div>
            </div>

            <button onclick="ValidateProfessionalIndemnity(); event.preventDefault();" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>
            @*<button onclick="$('#StatutoryLiability1').val('');$('#StatutoryLiability2').val(''); event.preventDefault();" class="btn-sm AddClearBoat" id="ClearBoat">Clear and Cancel</button>*@

        </fieldset>
    </div>
</div>


<script type="text/javascript">

         $(window).on("load", function () {
           var clientInformationSheet = $('#AnswerSheetId').val();
           var postData = {ClientInformationSheet : clientInformationSheet};


            $.ajax({
     	// change back once mono decides to fix
             url: '@Url.Action("GetProfessionalIdemnity", "Information")',
             type: "POST",
             data: postData
             })
                .done(function (data) {
             if (data != "") {
                for (var item = 0; item < data.length; item++){

                  var arr = data[item];
                  var count = 0;
                    $('#ProfessionalIndemnity1').val(arr[count + 1]);
                }
             };

                })
                .fail(function (a, s, d) {
                    debugger;
                  alert("Unable to save.");
                });
         });

   
    var clientInformationSheet = $('#AnswerSheetId').val();

      function ValidateProfessionalIndemnity() {
        event.preventDefault();
          debugger;
        var ProfessionalIndemnity = $('#ProfessionalIndemnity1').val();
        var validity = true;
        if (ProfessionalIndemnity == "") {
            $('#ValidateProfessionalIndemnity').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        } else {
            $('#ValidateProfessionalIndemnity').html("<i></i>");
        }
       
        if (validity) {
            SaveProfessionalIndemnity(); 
        }
    };




        function SaveProfessionalIndemnity() {
            debugger;
                   var StatutoryLiability = new Array(1);

                   for (var i = 0; i < StatutoryLiability.length; i++) {
                       StatutoryLiability[i] = new Array(2);
                   }

            for (var i = 1; i <= 1; i++) {
                for (var j = 0; j < 2; j++) {
                    StatutoryLiability[i-1][0] = "ProfessionalIndemnity1";
                StatutoryLiability[i-1][1] = $('#ProfessionalIndemnity1').val();
                }

            }

                   var postData = { Answers: StatutoryLiability, ClientInformationSheet: clientInformationSheet };

             $.ajax({
                           url: '@Url.Action("UpdateAnswer", "Information")',
                           type: "POST",
                           data: postData
                       })
                           .done(function (data) {

                           })
                           .fail(function (a, s, d) {
                               alert("Unable to save.");
                           });


        }
</script>

