@model TechCertain.WebUI.Models.InformationViewModel

    <div id="SharedRole">

        <ul id="sharedRoleTabs" class="nav nav-tabs d-sm-flex">
            <li class="nav nav-item">
                <a href="#sharedRoleTabs1" data-toggle="tab"> Shared Roles </a>
            </li>
            <li class="nav nav-item">
                <a href="#sharedRoleTabs2" data-toggle="tab"> Shared Roles Breakdown </a>
            </li>
            <li class="nav nav-item">
                <a href="#sharedRoleTabs3" data-toggle="tab"> Additional Information </a>
            </li>
        </ul>

        <div id="sharedRoleTabs1" class="tab-content">
            <fieldset>
                <div class="container-fluid">

                    <div class="input-group mb-3">
                        <select data-placeholder="Choose Shared Role" id="sharedRoleTemplates" name="sharedRoleTemplates" multiple class="col-6 chosen-select form-control b" required>
                            @foreach (var role in Model.SharedRoleViewModel.SharedRoles)
                            {
                                <option selected="@role.Selected" value="@role.Value">@role.Text</option>
                            }
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <button class="btn-primary btn" onclick="SaveRoleTabOne()">  Next  </button>
                    </div>

                </div>
            </fieldset>
        </div>
        <div id="sharedRoleTabs2" class="tab-content">
            <fieldset>
                <div class="container-fluid">

                    <div class="input-group mb-3">
                        <table id="sharedRoleTable" class="table">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="input-group mb-3">
                        <button class="btn-primary btn" onclick="SaveRoleTabTwo()">  Submit  </button>
                    </div>

                </div>
            </fieldset>
        </div>
        <div id="sharedRoleTabs3" class="tab-content">
            <fieldset>
                <div class="container-fluid">
                    <form class="smart-form">
                        <div class="form-group">
                            <label for="OtherProfessionId">You have specified Other Profession, please provide further details: </label>
                            <textarea id="OtherProfessionId" name="OtherProfessionId" type="Text" class="form-control"></textarea>
                        </div>
                    </form>

                    <div class="input-group mb-3">
                        <button class="btn-primary btn" onclick="SaveRoleTabThree()">  Submit  </button>
                    </div>

                </div>
            </fieldset>
        </div>
    </div>




