@model TechCertain.WebUI.Models.InformationViewModel

<div id="SharedRevenue">
    @if (Model.RevenueByActivityViewModel.RevenueData != null)
    {
        @await Html.PartialAsync("/Views/Information/PrefabSections/ExistingSharedRevenue.cshtml", Model.RevenueByActivityViewModel)
    }
    else
    {
        @await Html.PartialAsync("/Views/Information/PrefabSections/NewSharedRevenue.cshtml", Model.RevenueByActivityViewModel)
    }
</div>
