@model TechCertain.WebUI.Models.InformationViewModel
<div class="padding-10">
    <div id="DNOForm" class="smart-form" novalidate="novalidate">
        <fieldset id="StatutoryLiabilityInsurance">
            <div class="row">


                <div class="panel-body" id="@Model.Id body">

                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Would you like Statutory Liability Insurance?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="input">
                                <select id="StatutoryLiability1" onchange="StatutoryLiability1Selected('StatutoryLiability1')" class="form-control rmv editable" name="StatutoryLiability1">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateStatutoryLiability1"></p>

                        </section>

                    </section>


                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden" id="StatutoryLiability2Sec">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Is this a renewal of an existing policy placed with NZACS?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="input">
                                <select id="StatutoryLiability2" class="form-control rmv editable" name="StatutoryLiability2">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateStatutoryLiability2"></p>

                        </section>

                    </section>

                  

                </div>
            </div>

            <button onclick="ValidateStatutory(); event.preventDefault();" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>
            @*<button onclick="$('#StatutoryLiability1').val('');$('#StatutoryLiability2').val(''); event.preventDefault();" class="btn-sm AddClearBoat" id="ClearBoat">Clear and Cancel</button>*@

        </fieldset>
    </div>
</div>


<script type="text/javascript">

         $(window).on("load", function () {
           var clientInformationSheet = $('#AnswerSheetId').val();
           var postData = {ClientInformationSheet : clientInformationSheet};


            $.ajax({
     	// change back once mono decides to fix
             url: '@Url.Action("GetStatutoryLiability", "Information")',
             type: "POST",
             data: postData
             })
                .done(function (data) {
             if (data != "") {
                for (var item = 0; item < data.length; item++){

                  var arr = data[item];
                  var count = 0;
                    $('#' + arr[count]).val(arr[count + 1]);
                    if ($('#StatutoryLiability1').val() == 'true') {
                        $('#StatutoryLiability2Sec').removeClass('hidden');

                    } else {
                        $('#StatutoryLiability2Sec').addClass('hidden');
                    }
                }
             };

                })
                .fail(function (a, s, d) {
                    debugger;
                  alert("Unable to save.");
                });
         });

    
    
    function StatutoryLiability1Selected(StatutoryLiability) {
        debugger;

        var statutoryLiability = document.getElementById(StatutoryLiability);
        var vhh = statutoryLiability.options[statutoryLiability.selectedIndex].value;

        if (statutoryLiability.options[statutoryLiability.selectedIndex].value == "true") {
            $('#StatutoryLiability2Sec').removeClass('hidden');
        } else {
             $('#StatutoryLiability2').val('');
            $('#StatutoryLiability2Sec').addClass('hidden');
        }
    }

    var clientInformationSheet = $('#AnswerSheetId').val();

      function ValidateStatutory() {
        event.preventDefault();

        var GLI1 = $('#StatutoryLiability1').val();
        var GLI2 = $('#StatutoryLiability2').val();
        var validity = true;
        if (GLI1 == "") {
            $('#ValidateStatutoryLiability1').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        } else {
            $('#ValidateStatutoryLiability1').html("<i></i>");
        }
        if (GLI2 == "" && GLI1 == 'true') {
            $('#ValidateStatutoryLiability2').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        } else {
            $('#ValidateStatutoryLiability2').html("<i></i>");
        }

        if (validity) {
            SaveStatutoryLiability(); 
        }
    };




        function SaveStatutoryLiability() {
            debugger;
                   var StatutoryLiability = new Array(2);

                   for (var i = 0; i < StatutoryLiability.length; i++) {
                       StatutoryLiability[i] = new Array(2);
                   }

            for (var i = 1; i <= 2; i++) {
                for (var j = 0; j < 2; j++) {
                    StatutoryLiability[i-1][0] = "StatutoryLiability" + i;
                var statutoryLiability = "#StatutoryLiability" + i;
                StatutoryLiability[i-1][1] = $(statutoryLiability).val();
                }

            }

                   var postData = { Answers: StatutoryLiability, ClientInformationSheet: clientInformationSheet };

             $.ajax({
                           url: '@Url.Action("UpdateAnswer", "Information")',
                           type: "POST",
                           data: postData
                       })
                           .done(function (data) {

                           })
                           .fail(function (a, s, d) {
                               alert("Unable to save.");
                           });


        }
</script>

