@*@model TechCertain.WebUI.Models.InformationViewModel*@

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">
        <fieldset>
            <div class="row">
                <section class="col col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <label class="label">Search Option</label>
                    <label class="input">
                        <select class="form-control b" id="AddBoatCeaseReason" name="BoatCeaseReason">
                            <option selected="selected" value="">-- Select --</option>
                            <option value="Reference">Reference Number</option>
                            @*<option value="Reference">Decommision</option>*@
                            @*<option value="3">Writen off</option>
                    <option value="4">Transfered</option>
                    <option value="9">Other</option>*@
                        </select>
                    </label>
                </section>

                <section class="col col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <label class="input">
                        <i></i>
                        <input data-type="TEXTBOX" id="SearchValue" placeholder="Search Value">
                    </label>
                </section>
                @*<a onclick="location.href='@Url.Action("TermSheetTemplate", "Programme", new { value =  });'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="glyphicon glyphicon-circle-arrow-left"></span> </a>*@

                <a onclick="Search()" +><i class="fa fa-search" style="font-size:28px;margin-top:13px;"></i></a>
                @*<a class="btn btn-primary btn-xs" href="/Home/ViewProgramme/@item.ProgrammeId"><i class="fa fa-search"></i> View</a>*@


            </div>

        </fieldset>
    </div>
</div>

<script type="text/javascript">
    function Search() {
        var val = $('#SearchValue').val();

     var postData = { Value: val };

        $.ajax({
				type: "POST",
				url: '@Url.Action("Search", "Home")',
			    data: postData 
			})
            .done(function (url) {

                window.location = url;
                console.log(json);
	        })
            .fail(function (err, ajaxOptions, thrownError) {
                                debugger;

				alert("Unable to save." + err.responseText );
				console.log(err);
				console.log(ajaxOptions);
				console.log(thrownError);
            });



            @*$.ajax({
            // change back once mono decides to fix
            url: '@Url.Action("ViewProgrammeByFilter", "Home")',
            type: "Get",
            data: postData
             })
             .done(function (data) {
                 debugger;
                 alert("Unabdfle to save.");
                 //$("#ViewProgramme").load(url, function () {
                 //          $('#getAgreementModal').hide();
                 //      });
                                       location.href='@Url.Action("ViewProgrammeByFilter", "Home",new { Id = val })'

             }).fail(function (a, s, d) {
                 debugger;
              alert("Unable to save.");
             });*@
    };
</script>