    
<div id="content" class="container">
        <div class="card">
            <div class="card-header">
                <span class="widget-icon">
                    <h2><i class="fa fa-list-alt"></i> Information Sheet </h2>
                </span>
            </div>
            <div class="card-body">
                <form class="needs-validation" id="informationform" action="../Information/CreateInformationSheet" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="required">Organisation Type</label>
                            <div class="form-check">
                                <label class="form-check-input-label">
                                    <input class="form-check-input" type="radio" name="cgradioselect" id="vown1" value="Private" checked="checked" onclick="vesselOwnUpdate()">
                                    Private
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-input-label">
                                    <input class="form-check-input" type="radio" name="cgradioselect" id="vown2" value="Company" onclick="vesselOwnUpdate()">
                                    Company
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-input-label">
                                    <input class="form-check-input" type="radio" name="cgradioselect" id="vown3" value="Trust" onclick="vesselOwnUpdate()">
                                    Trust
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-input-label">
                                    <input class="form-check-input" type="radio" name="cgradioselect" id="vown4" value="Partnership" onclick="vesselOwnUpdate()">
                                    Partnership
                                </label>
                            </div>                            
                        </div>

                        <div class="form-group col-md-6">
                            <label class="required">
                                Organisation Name
                                <input class="form-control input-lg" placeholder="Enter Organisation Name" type="text" name="fname" required id="UISorgname">
                            </label>                            
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="required">
                                First Name
                                <input class="form-control input-lg" placeholder="Enter First Name" type="text" name="fname" required id="UISfname">
                            </label>                            
                        </div>
                        <div class="form-group col-md-6">
                            <label class="required">
                                Last Name
                                <input class="form-control input-lg" placeholder="Enter Last Name" type="text" name="lname" required id="UISlname">
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="required">
                                Email
                                <input class="form-control input-lg" placeholder="Enter Email" type="text" name="email" required id="UISEmail">
                            </label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="required">
                                Membership Number
                                <input class="form-control input-lg" placeholder="Enter Membership Number" type="text" name="memno" required id="UISMembershipno">
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label class="required">
                                Mobile Phone
                                <input class="form-control input-lg" placeholder="Enter Mobile Number" type="text" name="mphon" required id="UISmphon" aria-required="true" aria-invalid="false" maxlength="14">
                            </label>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>

</div>







