@model DealEngine.WebUI.Models.InformationViewModel

<div class="col col-12">
    <div id="accordion">
        <h4 style="background-color:#00A8C8; color:white" id="Named Party">Named PArty</h4>

        @Html.Partial("PrefabSections/CommonNamedParties", Model)

    </div>

</div>
