*.sln.cache
*.suo
*.pidb
*.userprefs
*.usertasks
*.mdb
*.pdb
*.xml
*.cache
.DS_Store
*/Obj/*
*/Bin/*
*/obj/*
*/bin/*
*\Obj\*
*\Bin\*
*\obj\*
*\bin\*
*[Oo]bj/*
*[Bb]in/*
techcertain2015rebuildcore\bin*
techcertain2015rebuildcore\obj*
techcertain2015rebuildcore\Bin*
techcertain2015rebuildcore\Obj*
Debug/
/.vs/

