@model DealEngine.WebUI.Models.ProgrammeItem

<table id="tblWaterLocation"
       class="table table-striped" width="100%"
       data-show-columns="true"
       data-pagination="true"
       data-search="true"
       data-show-jump-to="true">
    <thead>
        <tr>
            <th data-field="name" data-sortable="true">Client Name</th>
            <th data-field="status" data-sortable="true">Status</th>
            <th data-sortable="false"></th>
        </tr>
    </thead>
    
</table>

