@model TechCertain.WebUI.Models.Milestone.MilestoneBuilderViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="input-group">
                @Html.TextAreaFor(m => m.AdvisoryContent.Advisory, new { id = "advisory", name = "content", cols = "10", rows = "10" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    ClassicEditor
        .create(document.querySelector('#advisory'))
        .then(newAdvisory => {
            editorAdvisory = newAdvisory;
        })
        .catch(error => {
            console.error(error);
        });

    function GetAdvisoryContentJson() {

        return {
            Advisory: editorAdvisory.getData()
        };
    }
</script>
