@model TechCertain.WebUI.Models.Milestone.MilestoneBuilderViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="taskPriority">
                <select class="form-control b" id="Priortylist" required>
                    <option selected="selected" value="">-- Select --</option>
                    @foreach (var taskPriorty in Model.Priorities)
                    {
                        <option value="@taskPriorty.Value"> @taskPriorty.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label class="input ">
                <i class="icon-append fa fa-calendar"></i>
                <input name="DueDate" placeholder="Due Date" class="datepicker" data-dateformat="dd/mm/yy" id="DueDate" type="text" required>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="taskReference">
                @Html.TextAreaFor(m => m.UserTask.Details, new { @placeholder = "Task Reference", cols = "100", rows = "4" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="taskDescription">
                @Html.TextAreaFor(m => m.UserTask.Description, new { id = "Milestoneeditor", name = "content", cols = "100", rows = "80", @placeholder = "Task Description" })
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    ClassicEditor
        .create(document.querySelector('#Milestoneeditor'))
        .then(newDescription => {
            editorDescription = newDescription;
        })
        .catch(error => {
            console.error(error);
        });

    function GetUserTaskContentJson()
    {
        return {
            Priority: $("#Priortylist").val(),
            DueDate: $("#DueDate").val(),
            Details: $("#@(Html.IdFor(m => m.UserTask.Details))").val(),
            Description: editorDescription.getData()
    	};
    }


</script>

