@model TechCertain.WebUI.Models.Milestone.MilestoneBuilderViewModel

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <select class="form-control b" id="Emailaddress" required>
                        <option selected="selected" value="">-- Select --</option>
                        @foreach (var emailAdd in Model.EmailAddresses)
                        {
                            <option value="@emailAdd.Value"> @emailAdd.Text</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    @Html.TextAreaFor(m => m.EmailTemplate.Subject, new { cols = "100", @placeholder = "Enter email subject" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    @Html.TextAreaFor(m => m.EmailTemplate.Body, new { id = "emailTemplate", name = "content", cols = "10", rows = "10", @placeholder = "Enter email body" })
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
@*        ClassicEditor
            .create(document.querySelector('#emailTemplate'))
            .then(newEmailBody => {
                editorEmail = newEmailBody;
            })
            .catch(error => {
                console.error(error);
            });
*@
           function GetEmailContentJson()
           {
               return {
                   EmailAdress: $("#Emailaddress").val(),
                   Subject: $("#@(Html.IdFor(m => m.EmailTemplate.Subject))").val(),
                   Body: window.editor.getData()
               };
           }

</script>

