@model TechCertain.WebUI.Models.Milestone.MilestoneBuilderViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="input-group">
                <select class="form-control b" id="emailaddress" required>
                    <option selected="selected" value="">-- Select --</option>
                    @foreach (var emailAdd in Model.EmailAddresses)
                    {
                        <option value="@emailAdd"> @emailAdd</option>
                    }
                </select>
                <hr />
                @Html.TextAreaFor(m => m.EmailTemplate.Subject)
                <hr />
                @Html.TextAreaFor(m => m.EmailTemplate.Body, new { id = "emailTemplate", name = "content", cols = "10", rows = "10" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        ClassicEditor
            .create(document.querySelector('#emailTemplate'))
            .then(newEmailBody => {
                editorEmail = newEmailBody;
            })
            .catch(error => {
                console.error(error);
            });

           function GetEmailContentJson()
           {
               return {
                   Subject: $("#@(Html.IdFor(m => m.EmailTemplate.Subject))").val(),
                   Body: editorEmail.getData()
               };
           }

</script>

