

<div id="content">
    <!-- widget grid -->
    <section id="widget-grid">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <h2>Congratulations</h2>
                <p>Your Insurance Information Sheet has been successfully submitted, and an agreement is currently being prepared.</p>
                <p>Click <a href="/Home/Index">here</a> to view your Dashboard.</p>
        	</article>
        </div>
    </section>
</div>