@model TechCertain.Web.UI.ViewModels.ViewAgreementRuleViewModel

    <div id="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <p>On behalf of the Applicant:</p>
                        <ol>
                            <li>I declare that I am the person named above and I am authorised to submit this proposal on behalf of we, the Applicant and any included intended insureds.</li>
                            <li>I declare that the information and answers given in this proposal have been checked and are true and complete in every respect.</li>
                            <li>I declare that we not aware of any other information that may be material in considering this proposal.</li>
                            <li>I acknowledge that we understand that this proposal, declaration and any other information supplied in support of this proposal, constitutes representations to, and will be relied on as the basis of contract by the insurer(s) requested to quote on this proposal.</li>
                            <li>I acknowledge that we understand that it is our duty to inform the insurer(s), through our broker, of any material alteration to this information whether occurring before or after the completion of any insurance contract.</li>
                            <li>I acknowledge that we understand that misrepresentations or material non-disclosure of relevant information, whether made through this proposal or otherwise, may result in the insurance not being available to meet a claim and/or cancellation of relevant insurance contract(s), in addition to other remedies.</li>
                            <li>I confirm that we authorise the disclosure to insurers requested to quote on this proposal, of information held by other insurers or insurance broker.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="smart-form">
                        <label class="radio">
                            <input id="agreementAccept" name="radio" type="radio">
                            <i></i>Yes, I accept the offered Agreement
                        </label>
                        <label class="radio">
                            <input id="agreementDecline" name="radio" type="radio">
                            <i></i>No, I wish to decline the offered Agreement
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="smart-form">
                    </div>
                </div>
            </div>
        </div>

    </div>

<script>

</script>