<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for TechCertain.Web.UI.

The settings that can be used in this file are documented at
http://www.mono-project.com/Config_system.web and
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!--
		    Set compilation debug="true" to insert debugging
		    symbols into the compiled page. Because this
		    affects performance, set this value to true only
		    during development.

		-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="ServiceStack.Interfaces, Version=4.0.0.0, Culture=neutral, PublicKeyToken=e06fbc6124f57c43" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <!-- TODO: Check for deployment -->
    <customErrors mode="Off" defaultRedirect="~/Account/Error">
      <error statusCode="403" redirect="~/Error/Error403" />
      <error statusCode="404" redirect="~/Error/Error404" />
      <error statusCode="500" redirect="~/Error/Error500" />
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Web.Optimization" />
        <add namespace="TechCertain.Web.UI.Helpers.CustomHtml" />
      </namespaces>
    </pages>
    <authorization>
      <allow users="*" />
    </authorization>
    <authentication mode="Forms">
      <!--- production needed  -->
      <forms name=".MVCFORMSAUTH" loginUrl="~/Account/Login" timeout="5000000" protection="All" path="/" slidingExpiration="true" cookieless="UseCookies" />
      <!-- Needed inproduction: requireSSL="true"-->
    </authentication>
    <machineKey validationKey="11337735FC343A2062F13CA22323A970D2CE595A31C01BD48AF0BD6BA92D054A2AAF541371B6955E095A5D39FA909206AD1DC26634409D2A7A0725159602E0B7" decryptionKey="5CAB5151E5C1941010C491A75827ACA7D700027820CB80D2" validation="SHA1" decryption="AES" />
    <!--roleManager enabled="true" /-->
    <membership defaultProvider="BismuthLdapMembershipProvider">
      <providers>
        <clear />
        <add name="OpenLdapMembershipProvider" type="TechCertain.Infrastructure.BaseLdap.Providers.OpenLdapMembershipProvider" />
        <add name="NovellMembershipProvider" type="TechCertain.Infrastructure.BaseLdap.Providers.NovellMembershipProvider" />
        <add name="BismuthLdapMembershipProvider" type="TechCertain.Infrastructure.BaseLdap.Providers.BismuthLdapMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="BismuthLdapRoleProvider">
      <providers>
        <clear />
        <add name="OpenLdapRoleProvider" type="TechCertain.Infrastructure.BaseLdap.Providers.OpenLdapRoleProvider" />
        <add name="NovellRoleProvider" type="TechCertain.Infrastructure.BaseLdap.Providers.NovellRoleProvider" />
        <add name="BismuthLdapRoleProvider" type="TechCertain.Infrastructure.BaseLdap.Providers.BismuthLdapRoleProvider" />
      </providers>
    </roleManager>
    <!-- Secure cookies -->
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <webServices>
      <!--
	  <soapExtensionTypes>
        <add type="TechCertain.Infrastructure.Authorization.TraceExtension,TechCertain.Infrastructure.Authorization" priority="1" />
      </soapExtensionTypes>
			-->
    </webServices>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".json" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <!--<remove name="StackifyHttpModule_Net40" /><add name="StackifyHttpModule_Net40" type="StackifyHttpTracer.StackifyHttpModule,StackifyHttpTracer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=93c44ce23f2048dd" preCondition="managedHandler,runtimeVersionv4.0" /> 	-->
    </modules>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <connectionStrings>
    <add name="TechCertainConnection" providerName="Npgsql" connectionString="Server=localhost;Database=Techcertain20190815;User ID=postgres;Password=123; ConvertInfinityDateTime=true" />
  </connectionStrings>
  <appSettings>
    <!-- ServiceStack Licence -->
    <add key="servicestack:license" value="3919-e1JlZjozOTE5LE5hbWU6VGVjaENlcnRhaW4sVHlwZTpJbmRpZSxIYXNoOmUxSC9XOHJvQnR3cTJ3Qzd1OVBVeWFzdCswdy9Zbm5RaCtxVmdzUDMyeis2ZGtsNjVuWHF2RUxrZk1wSFhSam01S3RWVFRkRXF5V240Nk5WQXZBMURzQUR0dnNJOGN0M3IwdDgrY3BuRUd6T2tiZkg1ODh1M3MrcUw5bkkwdkNqWUt6QlAwdXJaWXhGTklWdy9ibStsQUhyeUhVRjJ5RGFPcWl4c2VsZEhMcz0sRXhwaXJ5OjIwMTctMDYtMjR9" />
    <add key="DemoEnvironment" value="true" />
    <add key="DomainQueryString" value="localhost:8888" />
    <!-- Disable BrowerLink-->
    <add key="vs:EnableBrowserLink" value="false" />
    <!-- Smart Admin-->
    <add key="config:EnableTiles" value="1" />
    <add key="config:EnableLoader" value="1" />
    <add key="config:Project" value="TechCertain 2015" />
    <add key="config:Company" value="Proposalonline.com" />
    <add key="config:CurrentTheme" value="smart-style-3" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Application Instance Settings -->
    <!--LDAP Server Settings
	-->
    <!--<add key="LdapServerOld" value="tcauth.proposalonline.com" />
    <add key="LdapPortOld" value="389" />
    <add key="LdapServerDistinguishedName" value="uid=admin,ou=Administrators,ou=TopologyManagement,o=NetscapeRoot" />
    <add key="LdapServerPassword" value="tcldap123" />
    <add key="LdapUserDnFromName" value="uid=$UserName,ou=techcertain users,dc=tcauth.proposalonline,dc=com" />
    <add key="LdapUserDnFromID" value="tcUserId=$UserID,ou=techcertain users,dc=tcauth.proposalonline,dc=com" />
    <add key="LdapOrgDnFromName" value="ou=$OrgName,ou=TechCertain Organisations,dc=tcauth.proposalonline,dc=com" />
    <add key="LdapSearchOrgByID" value="(&amp;(tcOrganisationID=$OrgID)(objectClass=tcorganisation))" />
    <add key="LDAPDefaultSearchBase" value="" />
    <add key="LDAPOrgsDn" value="ou=TechCertain Organisations,dc=tcauth.proposalonline, dc=com" />
    <add key="LDAPUsersDn" value="ou=TechCertain Users,dc=tcauth.proposalonline, dc=com" />
    <add key="LDAPOrgUserDn" value="tcuserid=$UserID,ou=$OrgName,ou=TechCertain Organisations,dc=tcauth.proposalonline,dc=com" />
    <add key="LDAPOrgBranchesDn" value="ou=Branches,ou=$OrgName,ou=TechCertain Organisations,dc=tcauth.proposalonline, dc=com" />
    <add key="LDAPOrgBranchDn" value="tcorganisationbranchid=$OrgBranchID,ou=Branches,ou=$OrgName,ou=TechCertain Organisations,dc=tcauth.proposalonline, dc=com" />
    <add key="LDAPInstancesDn" value="ou=TechCertain Instances,dc=tcauth.proposalonline, dc=com" />
    <add key="LDAPInstanceDn" value="tcinstanceurl=$Url,ou=TechCertain Instances,dc=tcauth.proposalonline,dc=com" />
    <add key="LDAPOrgJoinRequestsDn" value="ou=Join Requests,ou=$OrgName,ou=TechCertain Organisations,dc=tcauth.proposalonline, dc=com" />
    <add key="LDAPOrgJoinRequestDn" value="tcorganisationjoinrequestid=$RequestID, ou=Join Requests,ou=$OrgName,ou=TechCertain Organisations,dc=tcauth.proposalonline, dc=com" />
    <add key="UseLDAP" value="true" />
    <add key="UseLDAPAuth" value="true" />-->
    <!-- TODO: Check for deployment -->
    <add key="InstanceID" value="22b7a1ea-52ea-4795-aca3-f877921a52c9" />
    <add key="CarJamEndpoint" value="https://test.carjam.co.nz/api/" />
    <add key="CarJamApiKey" value="6C2FC149A76FF9F13152D0837A236645D242275E" />
    <add key="IntermediatePassword" value="@D77ewR?x;pJP9r$" />
    <add key="LoginPageExtension" value="" />
    <!-- Security -->
    <add key="SuperUsers" value="RWang, AChauhan, JDillon" />
    <!---The following strings are formatted automatically by the config helper -->
    <!---Ldap New -->
    <!--<add key="OpenLdapServer" value="52.9.56.187" />-->
    <!---Ldap Staging -->
    <add key="OpenLdapServer" value="54.176.167.142" />
    <add key="OpenLdapPort" value="389" />
    <add key="OpenLdapBaseDN" value="dc=tcauth,dc=proposalonline,dc=com" />
    <add key="OpenLdapBindDN" value="cn=admin,{0}" />
    <add key="OpenLdapBindPW" value="tcldap123" />
    <!---Top level DNs -->
    <add key="OpenLdapBaseBranchDN" value="ou=branches,{0}" />
    <add key="OpenLdapBaseDepartmentDN" value="ou=departments,{0}" />
    <add key="OpenLdapBaseOrganisationDN" value="ou=organisations,{0}" />
    <add key="OpenLdapBasePoliciesDN" value="ou=policies,{0}" />
    <add key="OpenLdapBaseRoleDN" value="ou=roles,{0}" />
    <add key="OpenLdapBaseUserDN" value="ou=users,{0}" />
    <!---RDN  -->
    <add key="OpenLdapUserDNFromUsername" value="uid={0},{1}" />
    <add key="OpenLdapPilotOrgDNFromID" value="o={0},{1}" />
    <add key="OpenLdapPilotOrgDNFromParentID" value="ou={0},{1}" />
    <add key="OpenLdapRoleDNFromID" value="cn={0},{1}" />
    <!--- Searches -->
    <add key="OpenLdapSearchUserByID" value="(&amp;(employeeNumber={0})(objectClass=inetOrgPerson))" />
    <add key="OpenLdapSearchUserByEmail" value="(&amp;(mail={0})(objectClass=inetOrgPerson))" />
    <add key="OpenLdapSearchUserByOrganisationID" value="(&amp;(o={0})(objectClass=inetOrgPerson))" />
    <add key="OpenLdapSearchUserByBranchID" value="(&amp;(ou={0})(objectClass=inetOrgPerson))" />
    <add key="OpenLdapSearchUserByDepartmentID" value="(&amp;(departmentNumber={0})(objectClass=inetOrgPerson))" />
    <!---Ldap Legacy -->
    <add key="LegacyLdapServer" value="50.18.154.198" />
    <add key="LegacyLdapPort" value="389" />
    <add key="LegacyLdapBaseDN" value="dc=tcauth.proposalonline,dc=com" />
    <add key="LegacyLdapBindDN" value="uid=admin,ou=Administrators,ou=TopologyManagement,o=NetscapeRoot" />
    <add key="LegacyLdapBindPW" value="tcldap123" />
    <add key="LegacyLdapBaseUserDN" value="ou=techcertain users,{0}" />
    <add key="LegacyLdapUserDNFromUsername" value="uid={0},ou=techcertain users,dc=tcauth.proposalonline,dc=com" />
    <add key="LegacyLdapOrganisationDN" value="ou=TechCertain Organisations,{0}" />
    <add key="LegacyLdapSearchOrganisationByID" value="(&amp;(tcOrganisationID={0})(objectClass=tcorganisation))" />
    <add key="LegacyLdapOrganisationAttributes" value="ou,tcOrganisationID,tcOrganisationType" />
    <add key="LegacyLdapSearchUserByID" value="(&amp;(tcUserID={0})(objectClass=tcuser))" />
    <add key="LegacyLdapSearchUserByEmail" value="(&amp;(mail={0})(objectClass=tcuser))" />
    <!---Email Service settings -->
    <add key="EnableMail" value="True" />
    <add key="SmtpServer" value="localhost" />
    <add key="SmtpPort" value="25" />
    <add key="SenderEmail" value="proposalonline@proposalonline.com" />
    <!---For local testing -->
    <add key="CatchAllEmail" value="techcertain@techcertain.com" />
    <!-- use this for demo.proposalonline.com: value="techcertain@techcertain.com" />-->
    <!--Instance Information Settings	-->
    <add key="SerializationDirectory" value="C:\tmp" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.allowedUsers" value="MBeal, ABunn, RWang, JDillon" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Packaging" publicKeyToken="984CB50DEA722E99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5D8B90D52F46FDA7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.2.0" newVersion="3.2.2.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.5.0" newVersion="3.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Look into ElmahR Multiple server logging-->
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.PgsqlErrorLog, Elmah" connectionStringName="TechCertainConnection" applicationName="Proposalonline.com" />
    <errorMail from="postmaster@techcertain.com" to="postmaster@techcertain.com" async="true"></errorMail>
  </elmah>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Elmah" />
    </extensions>
    <targets>
      <!-- https://github.com/NLog/NLog/wiki/Layout-Renderers -->
      <target xsi:type="Elmah" name="elmahWithLogLevelAsType" layout="${logger} ${longdate} ${uppercase:${level}}: ${message} ${exception:format=tostring}" LogLevelAsType="true" />
      <target xsi:type="File" name="file" fileName="${basedir}/tracelogs/${longdate}.log" layout="${longdate} ${uppercase:${level}}: ${message}" />
      <target name="mail" xsi:type="Mail" smtpServer="localhost" from="system@proposalonline.com" to="postmaster@techcertain.com" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="elmahWithLogLevelAsType" />
      <logger name="*" maxlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>
</configuration>