@model TechCertain.WebUI.Models.Product.ProductViewModel

<div id="content">
    <article class="container">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="card">
            <div class="card-header">
                <header class="col-sm-11 col-md-11 col-lg-11 pull-left">
                    <h2>Create a new Product</h2>
                </header>
            </div>
            <div class="card-body">
                <form action="#" id="myForm" role="form" data-toggle="validator" method="post" accept-charset="utf-8" novalidate="true" _lpchecked="1">
                    <!-- SmartWizard html -->
                    <div id="smartwizard" class="sw-main sw-theme-circles">
                        <ul class="nav nav-tabs step-anchor">

                            <li class="nav-item active">
                                <a href="#step-1"> <span class="nav-link">1</span> <span class="title">Start</span> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#step-2"> <span class="nav-link">2</span> <span class="title">Covers</span> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#step-3"> <span class="nav-link">3</span> <span class="title">Settings</span> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#step-4"> <span class="nav-link">4</span> <span class="title">Review</span> </a>
                            </li>
                        </ul>

                        <div class="sw-container tab-content" style="min-height: 152px;">
                            <div id="step-1" class="tab-pane step-content" style="display: block;">
                                <div id="form-step-0" role="form" data-toggle="validator" novalidate="true">
                                    <div class="form-group">
                                        @Html.DisplayFor(m => m.Description)
                                    </div>
                                </div>

                            </div>
                            <div id="step-2" class="tab-pane step-content" style="display: none;">

                                <div id="form-step-1" role="form" data-toggle="validator" novalidate="true">
                                    <div class="form-group">
                                        @Html.DisplayFor(m => m.Risks)
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="step-3" class="tab-pane step-content" style="display: none;">
                                <div id="form-step-2" role="form" data-toggle="validator">
                                    <div class="form-group">
                                        @Html.DisplayFor(m => m.Settings)
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </form>
            </div>
        </div>
    </article>
</div>


@section pagespecific {
    <link href="~/smartwizard/cc/smart_wizard_theme_circles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/smartwizard/js/jquery.smartWizard.min.js" defer></script>
    <script type="text/javascript">


        $(document).ready(function () {

            var checkerrors = function () {
                validator.form();
            };

            // find all multiselect items and apply Chosen
            $('.cselect').each(function () {
                $('#' + this.id).chosen({ width: '100%' }).change(checkerrors);
            });

            $('#smartwizard').smartWizard({
                selected: 0,  // Initial selected step, 0 = first step
                keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                autoAdjustHeight: true, // Automatically adjust content height
                cycleSteps: false, // Allows to cycle the navigation of steps
                backButtonSupport: true, // Enable the back button support
                useURLhash: true, // Enable selection of the step based on url hash
                lang: {  // Language variables
                    next: 'Next',
                    previous: 'Previous'
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom', // none, top, bottom, both
                    toolbarButtonPosition: 'right', // left, right
                    showNextButton: true, // show/hide a Next button
                    showPreviousButton: true, // show/hide a Previous button

                },
                anchorSettings: {
                    anchorClickable: true, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                    markDoneStep: true, // add done css
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                },
                contentURL: null, // content url, Enables Ajax content loading. can set as data data-content-url on anchor
                disabledSteps: [],    // Array Steps disabled
                errorSteps: [],    // Highlight step with errors
                theme: 'dots',
                transitionEffect: 'fade', // Effect on navigation, none/slide/fade
                transitionSpeed: '400'
            });
        });

    </script>
}