<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Products <span>> My Products</span></h1>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
                        <h2> Products </h2>
                        <!--<div class="widget-toolbar">
                             add: non-hidden - to disable auto hide

                        </div>-->
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->
                        <div class="widget-body no-padding smart-form">
                            <!-- content goes here -->
                            <div class="row">
                                <section class="col col-1 ">
                                    <div class="ri-parent">
                                        <object class="ri ri-accident"></object>
                                    </div>
                                </section>
                                <section class="col col-1 ">
                                    <div class="ri-parent">
                                        <object class="ri ri-building"></object>
                                    </div>
                                </section>
                                <section class="col col-1 ">
                                    <div class="ri-parent">
                                        <object class="ri ri-contents"></object>
                                    </div>
                                </section>
                                <section class="col col-1 ">
                                    <div class="ri-parent">
                                        <object class="ri ri-death"></object>
                                    </div>
                                </section>
                                <section class="col col-1">
                                    <div class="ri-parent">
                                        <object class="ri ri-freight"></object>
                                    </div>
                                </section>
                                <section class="col col-1">
                                    <div class="ri-parent">
                                        <object class="ri ri-incomeprotection"></object>
                                    </div>
                                </section>
                                <section class="col col-1">
                                    <div class="ri-parent">
                                        <object class="ri ri-liability"></object>
                                    </div>
                                </section>
                                <section class="col col-1">
                                    <div class="ri-parent">
                                        <object class="ri ri-life"></object>
                                    </div>
                                </section>
                                <section class="col col-1">
                                    <div class="ri-parent">
                                        <object class="ri ri-medical"></object>
                                    </div>
                                </section>
                                <section class="col col-1 ">
                                    <div class="ri-parent">
                                        <object class="ri ri-motor"></object>
                                    </div>
                                </section>
                                <section class="col col-1">
                                    <div class="ri-parent">
                                        <object class="ri ri-motorcycle"></object>
                                    </div>
                                </section>
                                <section class="col col-1">
                                    <div class="ri-parent">
                                        <object class="ri ri-travel"></object>
                                    </div>
                                </section>
                            </div>
                            <table class="table table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Languages</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Wellness & Health Associated Professionals
                                        </td>
                                        <td>
                                            <img src="~/Content/img/blank.gif" class="flag flag-nz" />
                                            <img src="~/Content/img/blank.gif" class="flag flag-cn" />
                                            <img src="~/Content/img/blank.gif" class="flag flag-de" />
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-xs" href="#"><i class="fa fa-pencil"></i> Manage</a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            Open Market Motor Vechicle
                                        </td>
                                        <td><img src="~/Content/img/blank.gif" class="flag flag-us" /></td>
                                        <td>
                                            <a class="btn btn-primary btn-xs" href="#"><i class="fa fa-pencil"></i> Manage</a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            Comprehensive Motorcycle
                                        </td>
                                        <td><img src="~/Content/img/blank.gif" class="flag flag-nz" /></td>
                                        <td>
                                            <a class="btn btn-primary btn-xs" href="#"><i class="fa fa-pencil"></i> Manage</a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            International Travel
                                        </td>
                                        <td><img src="~/Content/img/blank.gif" class="flag flag-nz" /></td>
                                        <td>
                                            <a class="btn btn-primary btn-xs" href="#"><i class="fa fa-pencil"></i> Manage</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- end content -->
                        </div>
                    </div>
                </div>
                <!-- end widget -->
            </article>
        </div>
	</section>
</div>

