@model TechCertain.WebUI.Models.Authorization.AuthorizeViewModel
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Claim Type</th>
            <th scope="col">Claim Rule</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ClaimList)
        {
            <tr>
                <td class="card-text">@item.Type</td>
                <td class="card-text">@item.Value</td>
                <td class="card-text">@item.Issuer</td>
            </tr>
         }            
        </tbody>
</table>


