@model DealEngine.WebUI.Models.Programme.ProgrammeInfoViewModel


<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-o"></i><a href="~/Programme/MyProgrammes/@Model.Id"> Programmes</a>
                <span>
                    <a href="~/Programme/TermSheetTemplate/@Model.Id"> > Package Term Sheet</a>
                    <a href="~/Programme/ManageClient/@Model.Id"> > Programme Owner</a>
                    > Client Programmes
                </span>
            </h1>
        </div>
        <!-- end col -->
    </div>
    <div>
        <a onclick="location.href='@Url.Action("ManageClient", "Programme",new { Id =@Model.Id })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="glyphicon glyphicon-circle-arrow-left"></span> </a>

    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa--envelope txt-color-white"></i> </span>
                        <h2> Client Programmes  </h2>
                    </header>
                    <!-- widget div-->
                    @*<div>*@
                    @*<div class="widget-body no-padding smart-form">*@
                    <!-- content goes here -->


                    <table class="table table-bordered table-striped table-hover table-condensed">

                        <thead>
                            <tr>
                                <th>Client Programmes </th>

                            </tr>
                            
                        </thead>
                        <tbody>
                            @foreach (var programme in Model.clientProgrammes)
                            {
                            <tr>
                                <td onclick="location.href='@Url.Action("ClientProgrammeDetails", "Programme",new { programmeId = programme.Id,Id=Model.Id ,ownerId=Model.OwnerId})'" style="cursor:pointer" align="left">
                                @programme.BaseProgramme.Name for @programme </td>

                            </tr>

                            }
                        </tbody>
                    </table>
                    @*</div>
                        </div>*@
                </div>
            </article>
        </div>
    </section>
</div>