@model DealEngine.WebUI.Models.UpdateTypesViewModel

<td>
        <select class="form-control b" id="ChangeType" name="ChangeType" title="" required>
            <option selected="selected" value="">-- Select here --</option>
            <option Value="TC_addAmendRiskInfo">Add Amend Risk Information</option>
            <option Value="TC_newCoverable">Add New Coverable</option>
            <option Value="TC_amendExcess">Amend Excess</option>
            <option Value="TC_amendLiabilityLimit">Amend Liability Limit</option>
            <option Value="TC_amendLocation">Amend Location</option>
            <option Value="TC_amendAssetSumInsured">Amend Asset Sum Insured</option>
            <option Value="TC_amendTermsCoverage">Amend Terms/Coverage</option>
            <option Value="TC_amendAddReinsurance">Amend or Add Reinsurance</option>
            <option Value="TC_amendAddInsured">Amend or Add Insured</option>
            <option Value="TC_deleteInsured">DeleteInsured</option>
            <option Value="TC_amendAddNamedParty">Amend or Add NamedParty</option>
            <option Value="TC_deleteNamedParty">deleteNamedParty</option>
            <option Value="TC_amendAddEmployees">Amend or Add Employees</option>
            <option Value="TC_amendAddCI">Amend or Add Co-insurer</option>
            <option Value="TC_changeOfExpiryDate">Change of Expiry Date</option>
            <option Value="TC_changeOfBroker">Change of Broker</option>
            <option Value="TC_changeOfBizOrOcc">Change of Business or Occupation</option>
            <option Value="TC_changeOfActivity">Change of Activity</option>
            <option Value="TC_deleteCoverable">Delete Existing Coverable</option>
            <option Value="TC_other">Other Amendment</option>
            <option Value="TC_amendOneTimeEvents">One Time Event</option>
        </select>
    </td>
