@model IssueUISViewModel

<div class="container">
    <form method="POST" action="~/Home/IssueReminder" novalidate>
        <input type="text" class="form-control" value="@Model.ProgrammeId" id="programmeId" name="ProgrammeId" hidden>
        <div class="card">
            <div class="card-header">
                <h5>
                    This page lists the members from this Scheme who are not already in this project and not excluded. If the member you want to add is in the list, select them below and click Add. If you cannot find the member in the list, use the Add new Person or Add new Organisation links above to add them.
                </h5>
            </div>
            <div class="card-body">
                <table class="container">
                    <thread>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                        </tr>
                    </thread>
                    <tbody>
                        @foreach (var clientProg in Model.ClientProgrammes)
                        {
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" aria-label="checkbox button for following text input" name="@clientProg.Owner.Email">
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Text input with radio button" value="@clientProg.Owner.Name">
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="@clientProg.Owner.Email">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-xs" type="submit">Send</button>
            </div>
        </div>
    </form>
</div>