@model IssueUISViewModel

<div class="container">
    <form method="POST" action="~/Home/GetReportView" novalidate>
        <input type="text" class="form-control" value="@Model.ProgrammeId" id="programmeId" name="ProgrammeId" hidden>
        <div class="card">
            <div class="card-header">
                <h5>
                    This page lists the clients from this programme. Please select the client and click on Send to issue the information sheet instruction, this will send out the login instruction email and information sheet instruction email. If you cannot find the client in the list, use Create UIS from the previous page to add them.
                </h5>
            </div>
            <div class="card-body">
                <table class="container">
                    <thread>
                        <tr>
                            <th>

                                Name
                            </th>
                            @*<th>
                                Email
                            </th>
                            <th>
                                Issued Date
                            </th>*@
                        </tr>
                    </thread>
                    <tbody>
                       
                        <tr>

                            <td>
                                <select class="form-control b" id="ClientProg" name="queryselect">
                                    <option selected="true" value="">-- Select --</option>
                                    <option selected="false" value="PI Cover Limit">PI Cover Limit and Premium Selected</option>
                                    <option selected="false" value="ED">ED Premium</option>
                                    <option selected="false" value="Cyber">Cyber Premium</option>
                                    <option selected="false" value="Ed">Limit and Premium Breakdown</option>
                                    <option selected="false" value="Cyber">Investment Defence and Settlement Costs Sub-Limit Premium and Limits</option>
                                </select>

                            </td>

                            <td>
                                <select name="ClientProgramme">
                                    <option selected="selected" value="">-- Select --</option>
                                    @foreach (var prog in Model.ListClientProgrammes)
                                    {
                                        <option value="@prog.Value">@prog.Text</option>
                                    }
                                </select>

                            </td>

                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-xs" type="submit">Send</button>
            </div>
        </div>
    </form>
</div>
