@model DealEngine.WebUI.Models.SearchViewModel
<div class="container">
    <form id="SearchForm" class="client-form" action="SearchProgramme" method="post">
        <div class="card">
            <div class="card-header">
                <h5>
                    Search
                </h5>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <select id="SearchId" name="SearchTerm" class="custom-select" required>
                    @foreach (var option in Model.SearchOptions)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="SearchValue" id="SearchValue" placeholder="Search Value">
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </form>
</div>