@model DealEngine.WebUI.Models.ProgrammeItem
<!-- MAIN CONTENT -->
    <div id="widget-grid" class="container">


        @Html.HiddenFor(m => m.ProgrammeId)
        <div class="card">
            <div class="card-header text-white" style="background-color:#3276b1">
                <span class="widget-icon">
                    <h6><i class="fa fa-table text-light"></i> Information Sheets for Programme </h6>
                </span>
            </div>
            <div class="card-body">
                @await Html.PartialAsync("_ClientProgrammeTablePartial", @Model)
            </div>
        </div>
    </div>
