@{
    if (!User.Identity.IsAuthenticated)
    {
        ViewBag.PageId = "extr-page";
        ViewBag.PageClass = "animated fadeInDown";
    }
}


<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text-2"> Password Changed </h1>
                        <br />
                        <p class="lead">
                            Your password has been successfully changed. You will be redirected to our login page in <span id="timeLeft">5</span>
                        </p>

                        <div class="row">

                            <div class="col-sm-12">
                                <ul class="list-inline">
                                    <li>
                                        &nbsp;<a href="~/Account/Login">Or click here to Login Now</a>&nbsp;
                                    </li>      
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    <!-- end row -->
    </div>

</div>
<!-- END MAIN CONTENT -->

<style>
    .error-text-2 {
        text-align: center;
        font-size: 700%;
        font-weight: bold;
        font-weight: 100;
        color: #333;
        line-height: 1;
        letter-spacing: -.05em;
        background-image: -webkit-linear-gradient(92deg,#333,#ed1c24);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

@section pagespecific {
<script type="text/javascript">

// DO NOT REMOVE : GLOBAL FUNCTIONS!
$(document).ready(function () {
	var enabled = true;
    window.setInterval(function() {
	    var timeLeft = $("#timeLeft").html();
		if (enabled) {
	        if (parseInt(timeLeft) == parseInt(0)) {
	            window.location = ('@Url.Action("Login", "Account")');
	            //window.location = ("~/Account/Login");
				enabled = false;
	        }
			else {              
	            $("#timeLeft").html(parseInt(timeLeft) - parseInt(1));
	        }
	    }
	}, 1000); 
}); 

</script>
}