<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i>OTP doesn't match</h1>
                        <h2 class="font-xl"><strong>Oooops, Something went wrong!</strong></h2>
                        <br />
                        <p class="lead">
                            Unfortunately the passcode that you have entered is either incorrect or has expired. Please try entering the code again, and if that is not successful, please <a href="~/Account/Login">click this link to login again</a> and generate a new passcode.

                            If you are unable to login after a second attempt please click here to send an email to the support team. (this needs to be updated)
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <!-- end row -->
    </div>

</div>
<!-- END MAIN CONTENT -->