@model DealEngine.WebUI.Models.InformationBuilderViewModel



<div class="row">
    <div class="col col-md-7 ">
        <div class="dd bordered" id="nestable">
            <ol class="dd-list">
                <li class="dd-item" data-id="7">
                    <div class="dd-handle">
                        <h4>Important Notices</h4>
                    </div>
                </li>
                <li class="dd-item" data-id="8">
                    <div class="dd-handle">
                        <h4>Applicant</h4>
                    </div>
                </li>
                <li class="dd-item" data-id="3">
                    <div class="dd-handle">
                        <h4>Insured Parties</h4>
                    </div>
                </li>
                <li class="dd-item" data-id="4">
                    <div class="dd-handle">
                        <h4>Party to be billed</h4>
                    </div>
                </li>
                <li class="dd-item" data-id="5">
                    <div class="dd-handle">
                        <h4>Insurance History</h4>
                    </div>
                </li>
                <li class="dd-item" data-id="6">
                    <div class="dd-handle">
                        <h4>Submit</h4>
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <div class="col col-md-5 ">
        <div class="dd bordered" id="nestable2">
            <ol class="dd-list">
                <li class="dd-item clone" data-id="1">
                    <div class="dd-handle">
                        Insured Name
                    </div>
                </li>
                <li class="dd-item clone" data-id="2">
                    <div class="dd-handle">
                        Postal Address
                    </div>
                </li>
            </ol>
        </div>
    </div>

</div>

@section pagespecific {

    <script src="/scripts/plugin/jquery-nestable/jquery.nestable.min.js"></script>
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            // PAGE RELATED SCRIPTS

            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target), output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));
                    //, null, 2));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            // activate Nestable for list 1
            $('#nestable').nestable({
                group: 1
            }).on('change', updateOutput);

            // activate Nestable for list 2
            $('#nestable2').nestable({
                group: 1
            }).on('change', updateOutput);

            // output initial serialised data
            updateOutput($('#nestable').data('output', $('#nestable-output')));
            updateOutput($('#nestable2').data('output', $('#nestable2-output')));
        });

    </script>

}


