@model DealEngine.WebUI.Models.Programme.ActivityBuilderVM


<div class="form-group">
    <label><strong>Public Activities</strong></label>
    @Html.ListBoxFor(m => m.Activities, Model.Activities, new { @class = "cselect form-control" })
</div>
<div class="form-group">
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.Ispublic)
        <i></i>I want these Activity to be publicly available.
    </label>
</div>





