@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel

@{
    var agreementStatus = Model.Status;
    string clientMessage = "";

    if (agreementStatus == "Referred")
    {
        clientMessage = @"Thank you for completing the information sheet.  Due to some answers in the information sheet, it has been referred to your broker and insurer for manual processing.  They will contact you with more information.  In the meantime if you have any questions, please contact your broker.  Please click on the 'Back to Dashboard' button below to go back to the dashboard.  Thank you.";

    }
    else
    {
        clientMessage = @"Thank you for completing the information sheet.";
    }

}


<div class="card">

    <div class="card-body">
        <div class="form-group">
            <strong>@clientMessage</strong>
        </div>
        <div class="form-group">
            <a class="btn btn-primary btn-xs" href="~/Home/Index" id="backbutton"><i class="fa fa-home"></i> Back to Dashboard</a>
        </div>

        <div class="form-group">
            <div class="input-group">
                <p>On behalf of the Applicant:</p>
                <p>
                    <ol>
                        @Html.Raw(Model.Declaration)
                    </ol>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="radio">
                <a>
                    <input id="agreementAccept" name="radio" type="radio">
                    <i></i>Yes, I accept the offered Agreement
                </a>
            </label>
        </div>
        <div class="form-group">
            <label class="radio">
                <a>
                    <input id="agreementDecline" name="radio" type="radio" data-toggle="modal" data-target="#advisoryModalDecline">
                    <i></i>No, I wish to decline the offered Agreement
                </a>
            </label>
        </div>

    </div>
</div>


@if (Model.Advisory != null)
{
    <div class="modal" id="advisoryModalDecline" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Advisory</h5>
                </div>
                <div class="modal-body">
                    @Html.Raw(Model.Advisory)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseAdvisory('@Model.InformationSheetId')">Ok</button>
                </div>
            </div>
        </div>
    </div>
}


@if (Model.Status == "Referred")
{

    <script type="text/javascript">
        var prevbutton = document.getElementsByClassName("next");
        $(prevbutton).addClass("hidden");
        $(prevbutton).hide();

        $(".declaration").addClass("hidden");
    </script>
}
else
{

    <script type="text/javascript">
        var back = document.getElementById("backbutton");
        $(back).addClass("hidden");
        $(back).hide();
        $(".declaration").removeClass("hidden");
    </script>

}



