@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel

@Html.Raw(Model.NoPaymentRequiredMessage)
@if (Model.ClientInformationSheet.Programme.BaseProgramme.Name == "Apollo Programme")
{
    <script type="text/javascript">
        document.getElementById("NextNoPayment").hidden = true;
    </script>
    <label class="required">Please select a payment Method</label>
    @Html.HiddenFor(m => m.ClientInformationSheet.Programme.Id, new { @id = "Programme.Id" })
    @Html.DropDownListFor(m => m.ClientInformationSheet.Programme.PaymentType, Model.PaymentMethodOptions, new { @required = "", @class = "form-control b", onchange = "SavePaymentOption(this.id)" })
}


<script type="text/javascript">
    var nextbutton1 = document.getElementsByClassName("sw-btn-next");
    $(nextbutton1).addClass("hidden");
    $(nextbutton1).hide();

    function SavePaymentOption(id) {
        var option = document.getElementById(id);
        var paymentType = option.options[option.selectedIndex].value;
        if (paymentType == "Invalid") {
            document.getElementById("NextNoPayment").hidden = true;
        } else {
            var ProgrammeId = document.getElementById("Programme.Id");
            $.ajax({
                type: 'Post',
                url: '@Url.Action("PostClientProgramme", "Programme")',
                data: { Id: ProgrammeId.value, PaymentType: paymentType }
            })
                .done(function (data) {
                    document.getElementById("NextNoPayment").hidden = false;
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    document.getElementById("NextNoPayment").hidden = false;
                    debugger;
                    console.log(errorThrown);
            });
        }

    }
</script>
