@model TechCertain.WebUI.Models.Agreement.ViewAgreementViewModel

<div class="widget-body widget-hide-overflow">

    <div class="row">
        <section class="col col-sm-1"></section>
        <section class="col col-10">
            @Html.Raw(Model.NoPaymentRequiredMessage)
        </section>
    </div>


</div>
