@model TechCertain.WebUI.Models.Agreement.ViewAgreementViewModel

@{
    var stopAgreement = Model.ProgrammeStopAgreement;
    string stopAgreementMessage = Model.ProgrammeStopAgreementMessage;

}

    <div class="widget-body widget-hide-overflow">

        <div class="row">
            <section class="col col-sm-1"></section>
            <section class="col col-10">
                @stopAgreementMessage
            </section>
        </div>

        <div class="row">
            <section class="col col-sm-1"></section>
            <section class="col col-10">
                <a class="btn btn-primary btn-xs" href="~/Home/Index" id="backbutton"><i class="fa fa-home"></i> Back to Dashboard</a>
            </section>
        </div>


    </div>







<script>


</script>