@model DealEngine.WebUI.Models.InformationViewModel
<div class="padding-10">
    <div id="DNOForm" class="smart-form" novalidate="novalidate">
        <fieldset id="DirectorsOfficersLiability">
            <div class="row">


                <div class="panel-body" id="@Model.Id body">

                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <label class="label required">
                                Would you like Cyber Liability Insurance?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label class="input">
                                <select id="DNO1" onchange="CyberLiabilityInsurance1Selected('DNO1')" class="form-control rmv editable" name="DNO1">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateDNO1"></p>

                        </section>

                    </section>

                    <div id="CyberLiabilitySec" class="hidden">

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have security software controls to protect our computer systems, e.g. anti-virus protection, firewalls, etc.
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO3" class="form-control rmv editable" name="DNO3">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO3"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have access controls in place (e.g. passwords) for employees and other users to deny access to sensitive data on computer systems
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO4" class="form-control rmv editable" name="DNO4">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO4"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have security controls in place to prohibit unauthorised access to our computer systems
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO5" class="form-control rmv editable" name="DNO5">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO5"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have backup and recovery procedures for all data and IT systems
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO6" class="form-control rmv editable" name="DNO6">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO6"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we do not have any domiciled operations or derive revenue from USA, Canada, UK, Europe or Australia
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO7" class="form-control rmv editable" name="DNO7">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO7"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we do not have business operations that would be classified as: Financial Institution, Medical/Health, Call Centre, Telemarketing, Data Processing (Outsourcing), Internet Service,
                                    Telecommunications, Social Networking, Credit Bureaus, Payment Processing, Gaming, Cloud Provider
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO8" class="form-control rmv editable" name="DNO8">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO8"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we do not collect, and/or processes and/or store credit card information
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO9" class="form-control rmv editable" name="DNO9">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO9"></p>

                            </section>

                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we have not sustained any single loss or losses, or suffered from any prior cyber breaches, including but not limited to data loss, network intrusion, hack attack (including telephone hacking), and any fines, in the last three years, for which this proposed insurance may respond to
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO10" class="form-control rmv editable" name="DNO10">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO10"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    we do not have any knowledge of any act, omission, fact, event or circumstance which might give rise to a loss under this proposed insurance after full enquiry of any of its directors, officers and employees
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO11" class="form-control rmv editable" name="DNO11">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Correct</option>
                                        <option value="false">Incorrect</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO11"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label class="label required">
                                    <strong>Social Engineering Fraud Extension</strong>

                                    Social Engineering Fraud optional extension to cover Phishing (the fraudulent use of electronic communications or websites to impersonate you to solicit personal or confidential information about your clients) , Phreaking (the unauthorised and malicious use of your telephone system which results in charges which you are legally liable to pay) and Fake Invoice losses (voluntarily giving away of your own money to a third party due to that third party impersonating one of your employees, principals, clients or suppliers)
                                </label>
                            </section>
                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    Would you like to purchase this optional Cyber Liability Social Engineering Fruad Extension policy extension for $250?
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input form-group">
                                    <select class="form-control" onchange="CyberLiability('hasfruadextension')" id="hasfruadextension">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                    </select>
                                </label>
                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden" id="hasproceduresec">
                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    Do you have procedures for verifying destination bank accounts and/or any changes to destination bank account details, before funds are transferred?
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input form-group">
                                    <select class="form-control" id="hasprocedures">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                    </select>
                                </label>

                            </section>

                        </section>
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden" id="hasapprovedvendorssec">
                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    Do you hold an approved list of vendors and suppliers, including authorized contract people and contace details, which is checked when payments are made?
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <select class="form-control" id="hasapprovedvendors">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label class="label required">
                                    Is this a renewal of an existing Cyber or Internet liability policy placed with NZACS?
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="input">
                                    <select id="DNO2" onchange="CyberLiabilityInsurance2Selected('DNO2')" class="form-control rmv editable" name="DNO2">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateDNO2"></p>

                            </section>

                        </section>

                        <div class="hidden" id="CyberPreviousInsuranceSec">
                            <h3 style="font-size:15px;font-weight:bold;color:black">Details of Previous Insurance</h3>
                            <br />

                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">
                                        $ Amount of Cover:
                                    </label>
                                </section>

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="input form-group">
                                        <i></i>
                                        <input class="form-control b" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" data-name="StatutoryLiability3" id="DNO12" name="DNO12" placeholder="$ Amount of Cover" value="" required>
                                    </label>
                                    <p class="validationContainer" id="ValidateDNO12"></p>

                                </section>

                            </section>

                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">
                                        When Lapsed:
                                    </label>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="input form-group">
                                        <label class="input ">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input name="DNO13" placeholder="Lapsed Date" class="datepicker form-control b" data-dateformat="dd/mm/yy" id="DNO13" type="text">
                                        </label>
                                    </label>
                                    <p class="validationContainer" id="ValidateDNO13"></p>

                                </section>

                            </section>

                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">
                                        Name of Insurer:
                                    </label>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="input form-group">
                                        <i></i>
                                        <input class="form-control b form-group" type="text" data-type="TEXTBOX" id="DNO14" name="DNO14" placeholder="Insurer Name" value="" required>
                                    </label>
                                    <p class="validationContainer" id="ValidateDNO14"></p>

                                </section>

                            </section>

                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">
                                        Retroactive date:
                                    </label>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="input form-group">
                                        <label class="input ">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input name="DNO15" placeholder="Retroactive Date" class="datepicker form-control b" data-dateformat="dd/mm/yy" id="DNO15" type="text">
                                        </label>
                                    </label>
                                    <p class="validationContainer" id="ValidateDNO15"></p>

                                </section>

                            </section>

                            @*<section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">
                                        Would you like to purchase this optional Cyber Liability policy
                                    </label>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <select class="form-control" id="hasoptionalcyber">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                    </select>

                                </section>

                            </section>*@

                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">
                                        <strong>Social Engineering Fraud Extension</strong>

                                        Social Engineering Fraud optional extension to cover Phishing (the fraudulent use of electronic communications or websites to impersonate you to solicit personal or confidential information about your clients) , Phreaking (the unauthorised and malicious use of your telephone system which results in charges which you are legally liable to pay) and Fake Invoice losses (voluntarily giving away of your own money to a third party due to that third party impersonating one of your employees, principals, clients or suppliers)
                                    </label>
                                </section>
                            </section>

                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">
                                        Would you like to purchase this optional Cyber Liability Social Engineering Fruad Extension policy extension for $250?
                                    </label>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="input form-group">
                                        <select class="form-control" id="hasfruadextension">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="1">Yes</option>
                                            <option value="2">No</option>
                                        </select>                                        
                                    </label>                                   
                                </section>

                            </section>

                            @*<section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">
                                        Please confirm which Limit of Indemnity you require from the above table
                                    </label>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="input form-group">
                                        <select class="form-control" id="indemnitylimit">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="500000">$500,000</option>
                                            <option value="1000000">$1000000</option>
                                        </select>
                                    </label>

                                </section>

                            </section>*@
                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">
                                        Do you have procedures for verifying destination bank accounts and/or any changes to destination bank account details, before funds are transferred?
                                    </label>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="input form-group">
                                        <select class="form-control" id="hasprocedures">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="1">Yes</option>
                                            <option value="2">No</option>
                                        </select>
                                    </label>


                        </div>
                    </div>
                </div>
            </div>

            @*<button onclick="ValidateCyber(); event.preventDefault();" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>*@
            @*<button onclick="ClearDNO(event,'#DNOForm')" class="btn-sm AddClearBoat" id="ClearBoat">Clear and Cancel</button>*@

        </fieldset>
    </div>
</div>


    <script type="text/javascript">

    $(window).on("load", function () {
        var clientInformationSheet = $('#AnswerSheetId').val();
        var postData = { ClientInformationSheet: clientInformationSheet };

        $.ajax({
            url: '@Url.Action("GetDNO", "Information")',
            type: "POST",
            data: postData
        })
            .done(function (data) {
                var valid = "true";
                for (var i = 0; i < data.length - 14; i++) {
                    if (data[i] == null) {
                        if (valid) {
                            valid = "false";
                        }
                    }
                }                
                if (data != "" && valid == "true") {
                    for (var item = 0; item < data.length; item++) {
                        var arr = data[item];
                        var count = 0;
                        if (arr != null) {
                            $('#' + arr[count]).val(arr[count + 1]);
                        }
                    }
                    if ($('#DNO1').val() == "true") {
                        $('#CyberLiabilitySec').removeClass('hidden');
                    } else {
                        $('#CyberLiabilitySec').addClass('hidden');
                    }
                }
                if ($('#DNO2').val() == "false") {
                    $('#CyberPreviousInsuranceSec').removeClass('hidden');
                } else {
                    $('#CyberPreviousInsuranceSec').addClass('hidden');
                }
            })
            .fail(function (a, s, d) {
                debugger;
                alert("Unable to save.");
            });
    });

    var clientInformationSheet = $('#AnswerSheetId').val();

    function CyberLiabilityInsurance1Selected(DNO1) {
        var CyberLiability = document.getElementById(DNO1);
        if (CyberLiability.options[CyberLiability.selectedIndex].value == "true") {
            $('#CyberLiabilitySec').removeClass('hidden');
        } else {
            $('#DNO2').val('');
            $('#DNO3').val('');
            $('#DNO4').val('');
            $('#DNO5').val('');
            $('#DNO6').val('');
            $('#DNO7').val('');
            $('#DNO8').val('');
            $('#DNO9').val('');
            $('#DNO10').val('');
            $('#DNO11').val('');
            $('#DNO12').val('');
            $('#DNO13').val('');
            $('#DNO14').val('');
            $('#DNO15').val('');
            $('#CyberLiabilitySec').addClass('hidden');
        }
    };

    function CyberLiability(IsContractorInsured) {
        var isContractorInsuredselected = document.getElementById(IsContractorInsured);
        if (isContractorInsuredselected.options[isContractorInsuredselected.selectedIndex].value == "1") {
            debugger;
            $('#hasproceduresec').removeClass('hidden');
            $('#hasapprovedvendorssec').removeClass('hidden');

        } else {
             $('#hasproceduresec').addClass('hidden');
            $('#hasapprovedvendorssec').addClass('hidden');

        }
    }

    function CyberLiabilityInsurance2Selected(DNO) {
        var CyberLiability = document.getElementById(DNO);
        if (CyberLiability.options[CyberLiability.selectedIndex].value == "false") {
            $('#CyberPreviousInsuranceSec').removeClass('hidden');
        } else {
            $('#DNO12').val('');
            $('#DNO13').val('');
            $('#DNO14').val('');
            $('#DNO15').val('');
            $('#CyberPreviousInsuranceSec').addClass('hidden');
        }
    };

    function ValidateCyber() {
        var validity = true;
        if ($('#DNO1').val() == '') {
            $('#ValidateDNO1').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            } else {
                $(validator).html("<i></i>");
            }
        }
        for (var index = 2; index <= 11; index++) {
            var DNOId = "#DNO" + index;
            var value = $(DNOId).val();
            var validator = "#ValidateDNO" + index;

            if (value == "" && ($('#DNO1').val() == 'true')) {
                $(validator).html("<font color='red'>Field is required</font>")
                if (validity) {
                    validity = false;
                }
            } else {
                $(validator).html("<i></i>");
            }
        }
        for (var index = 12; index <= 15; index++) {
            var DNOId = "#DNO" + index;
            var value = $(DNOId).val();
            var validator = "#ValidateDNO" + index;

            if (value == "" && ($('#DNO2').val() == 'false')) {
                $(validator).html("<font color='red'>Field is required</font>")
                if (validity) {
                    validity = false;
                }
            } else {
                $(validator).html("<i></i>");
            }
        }
        return validity;
    };

    function ValidateDNO() {
        var DNO = new Array(15);

        for (var i = 0; i < DNO.length; i++) {
            DNO[i] = new Array(2);
        }
        
        for (var i = 1; i <= 15; i++) {
            for (var j = 0; j < 2; j++) {
                DNO[i - 1][0] = "DNO" + i;
                var DNOId = "#DNO" + i;
                DNO[i - 1][1] = $(DNOId).val();
            }
        }
        
        for (var i = 12; i <= 15; i++) {
            for (var j = 0; j < 2; j++) {
                DNO[i - 1][0] = "DNO" + i;
                var DNOId = "#DNO" + i;
                DNO[i - 1][1] = $(DNOId).val();
            }
        }
        
        var postData = { Answers: DNO, ClientInformationSheet: clientInformationSheet };
        $.ajax({
            url: '@Url.Action("UpdateAnswer", "Information")',
            type: "POST",
            data: postData
        })
            .done(function (data) {
                return true;
            })
            .fail(function (a, s, d) {
                debugger;
                alert("Unable to save.");
            });
    }
    </script>
    <style>
        .required:after {
            content: " *";
            color: red;
            font-size: 20px;
        }
    </style>


