@model DealEngine.WebUI.Models.InformationViewModel
<div class="padding-10">
    <div id="DNOForm" class="smart-form" novalidate="novalidate">
        <fieldset id="DirectorsandOfficersLiabilityInsurance">
            <div class="row">


                <div class="panel-body" id="@Model.Id body">

                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Would you like Directors' and Officers' Liability Insurance?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="input">
                                <select id="DirectorsandOfficers1" onchange="DirectorsandOfficersLiabilityInsurance1Selected('DirectorsandOfficers1')" class="form-control rmv editable" name="DirectorsandOfficers1">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateDirectorsandOfficersLiabilityInsurance1"></p>

                        </section>

                    </section>
                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden" id="DirectorsandOfficersLiabilityInsurance2Sec">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Are you currently able to meet your debts as they fall due?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="input">
                                <select id="DirectorsandOfficers2" class="form-control rmv editable" name="DirectorsandOfficers2">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateDirectorsandOfficersLiabilityInsurance2"></p>

                        </section>

                    </section>


                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden" id="DirectorsandOfficersLiabilityInsurance3Sec">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Is this a renewal of an existing policy placed with NZACS?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="input">
                                <select id="DirectorsandOfficers3" onchange="DirectorsandOfficersLiabilityInsurance3Selected('DirectorsandOfficers3')" class="form-control rmv editable" name="DirectorsandOfficers3">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateDirectorsandOfficersLiabilityInsurance3"></p>

                        </section>

                    </section>

                    <div class="hidden" id="DirectorsInsuranceSec">
                        <h3 style="font-size:15px;font-weight:bold;color:black">Details of Previous Insurance</h3>
                        <br />

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">
                                    $ Amount of Cover:
                                </label>
                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input form-group">
                                    <i></i>
                                    <input class="form-control b" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" data-name="StatutoryLiability3" id="DirectorsandOfficers4" name="DirectorsandOfficers4" placeholder="$ Amount of Cover" value="" required>
                                </label>
                                <p class="validationContainer" id="ValidateDirectorsandOfficersLiabilityInsurance4"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">
                                    When Lapsed:
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input form-group">
                                    <label class="input ">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input name="DirectorsandOfficers5" placeholder="Lapsed Date" class="datepicker form-control b" data-dateformat="dd/mm/yy" id="DirectorsandOfficers5" type="text">
                                    </label>
                                </label>
                                <p class="validationContainer" id="ValidateDirectorsandOfficersLiabilityInsurance5"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">
                                    Name of Insurer:
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input form-group">
                                    <i></i>
                                    <input class="form-control b form-group" type="text" data-type="TEXTBOX" id="DirectorsandOfficers6" name="DirectorsandOfficers6" placeholder="Insurer Name" value="" required>
                                </label>
                                <p class="validationContainer" id="ValidateDirectorsandOfficersLiabilityInsurance6"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">
                                    Retroactive date:
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input form-group">
                                    <label class="input ">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input name="DirectorsandOfficers7" placeholder="Retroactive Date" class="datepicker form-control b" data-dateformat="dd/mm/yy" id="DirectorsandOfficers7" type="text">
                                    </label>
                                </label>
                                <p class="validationContainer" id="ValidateDirectorsandOfficersLiabilityInsurance7"></p>

                            </section>

                        </section>

                    </div>

                </div>
            </div>
            @*<button onclick="ValidateDNOGeneral(); event.preventDefault();" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>*@


        </fieldset>
    </div>
</div>



<script type="text/javascript">

    $(window).on("load", function () {
        var clientInformationSheet = $('#AnswerSheetId').val();
        var postData = { ClientInformationSheet: clientInformationSheet };

        $.ajax({
            url: '@Url.Action("GetDirectorsandOfficersLiability", "Information")',
            type: "POST",
            data: postData
        })
            .done(function (data) {
                var valid = "true";
                var count = 0;
                for (var i = 0; i < data.length - 6; i++) {
                    if (data[i] == null) {
                        if (valid) {
                            valid = "false";
                        }
                    }
                }                
                if (data[0] != "" && valid == "true") {
                    for (var item = 0; item < data.length; item++){
                        var arr = data[item];                        
                        if (arr != null) {
                            $('#' + arr[count]).val(arr[count + 1]);
                            if ($('#DirectorsandOfficers1').val() == 'true') {
                                $('#DirectorsandOfficersLiabilityInsurance2Sec').removeClass('hidden');
                                $('#DirectorsandOfficersLiabilityInsurance3Sec').removeClass('hidden');
                            } else {
                                $('#DirectorsandOfficersLiabilityInsurance2Sec').addClass('hidden');
                                $('#DirectorsandOfficersLiabilityInsurance3Sec').addClass('hidden');
                            }
                            if ($('#DirectorsandOfficers3').val() == 'false') {
                                $('#DirectorsInsuranceSec').removeClass('hidden');
                            } else {
                                $('#DirectorsInsuranceSec').addClass('hidden');
                            }
                        }
                    }
                };
            })
            .fail(function (a, s, d) {
                alert("Unable to save.");
            });
    });

    function DirectorsandOfficersLiabilityInsurance1Selected(DirectorsandOfficers) {       
        var directorsandOfficers = document.getElementById(DirectorsandOfficers);

        if (directorsandOfficers.options[directorsandOfficers.selectedIndex].value == "true") {
            $('#DirectorsandOfficersLiabilityInsurance2Sec').removeClass('hidden');
            $('#DirectorsandOfficersLiabilityInsurance3Sec').removeClass('hidden');

        } else {
            $('#DirectorsandOfficers2').val('');
            $('#DirectorsandOfficers3').val('');
            $('#DirectorsandOfficers4').val('');
            $('#DirectorsandOfficers5').val('');
            $('#DirectorsandOfficers6').val('');
            $('#DirectorsandOfficers7').val('');
            $('#DirectorsandOfficersLiabilityInsurance2Sec').addClass('hidden');
            $('#DirectorsandOfficersLiabilityInsurance3Sec').addClass('hidden');

        }
    }
    function DirectorsandOfficersLiabilityInsurance3Selected(DirectorsandOfficers) {        
        var directorsandOfficers = document.getElementById(DirectorsandOfficers);

        if (directorsandOfficers.options[directorsandOfficers.selectedIndex].value == "false") {
            $('#DirectorsInsuranceSec').removeClass('hidden');

        } else {
            $('#DirectorsandOfficers4').val('');
            $('#DirectorsandOfficers5').val('');
            $('#DirectorsandOfficers6').val('');
            $('#DirectorsandOfficers7').val('');
            $('#DirectorsInsuranceSec').addClass('hidden');

        }
    }
    
    function ValidateDNOGeneral() {
        var GLI1 = $('#DirectorsandOfficers1').val();
        var GLI2 = $('#DirectorsandOfficers2').val();
        var GLI3 = $('#DirectorsandOfficers3').val();
        var validity = true;

        if (GLI1 == "") {
            $('#ValidateDirectorsandOfficersLiabilityInsurance1').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        } else {
            $('#ValidateDirectorsandOfficersLiabilityInsurance1').html("<i></i>");
        }
        if (GLI2 == "" && GLI1 == 'true') {
            $('#ValidateDirectorsandOfficersLiabilityInsurance2').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        } else {
            $('#ValidateDirectorsandOfficersLiabilityInsurance2').html("<i></i>");
         }
         if (GLI3 == "" && GLI1 == 'true') {
             $('#ValidateDirectorsandOfficersLiabilityInsurance3').html("<font color='red'>Field is required</font>")
             if (validity) {
                 validity = false;
             }
         } else {
             $('#ValidateDirectorsandOfficersLiabilityInsurance3').html("<i></i>");
         }

         for (var index = 4; index <= 7; index++) {
             var employerLiabilityInsurance = "#DirectorsandOfficers" + index;
             var value = $(employerLiabilityInsurance).val();
             var validator = "#ValidateDirectorsandOfficersLiabilityInsurance" + index;

             if (value == "" && ($('#DirectorsandOfficers3').val() == 'false')) {
                 $(validator).html("<font color='red'>Field is required</font>")
                 if (validity) {
                     validity = false;
                 }
             } else {
                 $(validator).html("<i></i>");
             }
         }
        return validity;
    };

    function SaveDirectorsandOfficersLiability() {
        var DirectorsandOfficers = new Array(7);

        for (var i = 0; i < DirectorsandOfficers.length; i++) {
            DirectorsandOfficers[i] = new Array(2);
        }

        for (var i = 1; i <= 7; i++) {
            for (var j = 0; j < 2; j++) {
                DirectorsandOfficers[i - 1][0] = "DirectorsandOfficers" + i;
                var directorsandOfficers = "#DirectorsandOfficers" + i;
                DirectorsandOfficers[i - 1][1] = $(directorsandOfficers).val();
            }
        }

        var postData = { Answers: DirectorsandOfficers, ClientInformationSheet: clientInformationSheet };
        $.ajax({
            url: '@Url.Action("UpdateAnswer", "Information")',
            type: "POST",
            data: postData
        })
            .done(function (data) {
                return true;
            })
            .fail(function (a, s, d) {
                alert("Unable to save test.");
            });
    };

</script>

<style>
    .required:after {
        content: " *";
        color: red;
        font-size: 20px;
    }
</style>