@model DealEngine.WebUI.Models.InformationViewModel
<div class="padding-10">
    <div id="DNOForm" class="smart-form" novalidate="novalidate">
        <fieldset id="StatutoryLiabilityInsurance">
            <div class="row">


                <div class="panel-body" id="@Model.ClientProgramme.Id body">

                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Would you like General Liability Insurance?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="input">
                                <select id="GeneralLiabilityInsurance1" onchange="GeneralLiabilityInsurance1Selected('GeneralLiabilityInsurance1')" class="form-control rmv editable" name="GeneralLiabilityInsurance1">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateGeneralLiabilityInsurance1"></p>

                        </section>

                    </section>
                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden" id="GeneralLiabilityInsurance2Sec">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Do you have contracts that require a higher GL limit?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="input">
                                <select id="GeneralLiabilityInsurance2" class="form-control rmv editable" name="GeneralLiabilityInsurance2">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateGeneralLiabilityInsurance2"></p>

                        </section>

                    </section>


                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden" id="GeneralLiabilityInsurance3Sec">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Is this a renewal of an existing policy placed with NZACS?
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="input">
                                <select id="GeneralLiabilityInsurance3" onchange="GeneralLiabilityInsurance3Selected('GeneralLiabilityInsurance3')" class="form-control rmv editable" name="GeneralLiabilityInsurance3">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateGeneralLiabilityInsurance3"></p>

                        </section>

                    </section>

                    <div class="hidden" id="GeneralLiaInsuranceSec">
                        <h3 style="font-size:15px;font-weight:bold;color:black">Details of Previous Insurance</h3>
                        <br />

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">
                                    $ Amount of Cover:
                                </label>
                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input form-group">
                                    <i></i>
                                    <input class="form-control b" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" data-name="StatutoryLiability3" id="GeneralLiabilityInsurance4" name="GeneralLiabilityInsurance4" placeholder="$ Amount of Cover" value="" required>
                                </label>
                                <p class="validationContainer" id="ValidateGeneralLiabilityInsurance4"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">
                                    When Lapsed:
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input form-group">
                                    <label class="input ">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input name="GeneralLiabilityInsurance5" placeholder="Lapsed Date" class="datepicker form-control b" data-dateformat="dd/mm/yy" id="GeneralLiabilityInsurance5" type="text">
                                    </label>
                                </label>
                                <p class="validationContainer" id="ValidateGeneralLiabilityInsurance5"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">
                                    Name of Insurer:
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input form-group">
                                    <i></i>
                                    <input class="form-control b form-group" type="text" data-type="TEXTBOX" id="GeneralLiabilityInsurance6" name="GeneralLiabilityInsurance6" placeholder="Insurer Name" value="" required>
                                </label>
                                <p class="validationContainer" id="ValidateGeneralLiabilityInsurance6"></p>

                            </section>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">
                                    Retroactive date:
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input form-group">
                                    <label class="input ">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input name="GeneralLiabilityInsurance7" placeholder="Retroactive Date" class="datepicker form-control b" data-dateformat="dd/mm/yy" id="GeneralLiabilityInsurance7" type="text">
                                    </label>
                                </label>
                                <p class="validationContainer" id="ValidateGeneralLiabilityInsurance7"></p>

                            </section>

                        </section>

                    </div>


                </div>
            </div>
            @*<button onclick="ValidateGeneral(); event.preventDefault();" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>*@


        </fieldset>
    </div>
</div>


<script type="text/javascript">

    $(window).on("load", function () {
        var clientInformationSheet = $('#AnswerSheetId').val();
        var postData = { ClientInformationSheet: clientInformationSheet };

        $.ajax({
            url: '@Url.Action("GetGeneralLiability", "Information")',
            type: "POST",
            data: postData
        })
            .done(function (data) {
                var valid = "true";
                var count = 0;
                for (var i = 0; i < data.length - 6; i++) {
                    if (data[i] == null) {
                        if (valid) {
                            valid = "false";
                        }
                    }                    
                }                
                if (data[0] != "" && valid == "true") {                    
                    for (var item = 0; item < data.length; item++){
                        var arr = data[item];
                        if (arr != null) {
                            $('#' + arr[count]).val(arr[count + 1]);
                            if ($('#GeneralLiabilityInsurance1').val() == 'true') {
                                $('#GeneralLiabilityInsurance2Sec').removeClass('hidden');
                                $('#GeneralLiabilityInsurance3Sec').removeClass('hidden');
                            } else {
                                $('#GeneralLiabilityInsurance2Sec').addClass('hidden');
                                $('#GeneralLiabilityInsurance3Sec').addClass('hidden');
                            }
                            if ($('#GeneralLiabilityInsurance3').val() == 'false') {
                                $('#GeneralLiaInsuranceSec').removeClass('hidden');
                            } else {
                                $('#GeneralLiaInsuranceSec').addClass('hidden');
                            }
                        }                        
                    }
                };
            })
            .fail(function (a, s, d) {
                alert("Unable to save.");
            });
    });


    function GeneralLiabilityInsurance1Selected(GeneralLiability) {
        var generalLiability = document.getElementById(GeneralLiability);

        if (generalLiability.options[generalLiability.selectedIndex].value == "true") {
            $('#GeneralLiabilityInsurance2Sec').removeClass('hidden');
            $('#GeneralLiabilityInsurance3Sec').removeClass('hidden');

        } else {
            $('#GeneralLiabilityInsurance2').val('');
            $('#GeneralLiabilityInsurance3').val('');
            $('#GeneralLiabilityInsurance4').val('');
            $('#GeneralLiabilityInsurance5').val('');
            $('#GeneralLiabilityInsurance6').val('');
            $('#GeneralLiabilityInsurance7').val('');
            $('#GeneralLiabilityInsurance2Sec').addClass('hidden');
            $('#GeneralLiabilityInsurance3Sec').addClass('hidden');
        }
    }

    function GeneralLiabilityInsurance3Selected(GeneralLiability) {
        var generalLiability = document.getElementById(GeneralLiability);

        if (generalLiability.options[generalLiability.selectedIndex].value == "false") {
            $('#GeneralLiaInsuranceSec').removeClass('hidden');
        } else {
             $('#GeneralLiabilityInsurance4').val('');
             $('#GeneralLiabilityInsurance5').val('');
             $('#GeneralLiabilityInsurance6').val('');
             $('#GeneralLiabilityInsurance7').val('');
             $('#GeneralLiaInsuranceSec').addClass('hidden');
        }
    }

    function ValidateGeneral() {        
        var GLI1 = $('#GeneralLiabilityInsurance1').val();
        var GLI2 = $('#GeneralLiabilityInsurance2').val();
        var GLI3 = $('#GeneralLiabilityInsurance3').val();
        var validity = true;
        if (GLI1 == "") {
            $('#ValidateGeneralLiabilityInsurance1').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        } else {
            $('#ValidateGeneralLiabilityInsurance1').html("<i></i>");
        }
        if (GLI2 == "" && GLI1 == 'true') {
            $('#ValidateGeneralLiabilityInsurance2').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        } else {
            $('#ValidateGeneralLiabilityInsurance2').html("<i></i>");
        }
        if (GLI3 == "" && GLI1 == 'true') {
            $('#ValidateGeneralLiabilityInsurance3').html("<font color='red'>Field is required</font>")
            if (validity) {
                validity = false;
            }
        } else {
            $('#ValidateGeneralLiabilityInsurance3').html("<i></i>");
        }

        for (var index = 4; index <= 7; index++) {
            var employerLiabilityInsurance = "#GeneralLiabilityInsurance" + index;
            var value = $(employerLiabilityInsurance).val();
            var validator = "#ValidateGeneralLiabilityInsurance" + index;

            if (value == "" && (GLI3 == 'false')) {
                $(validator).html("<font color='red'>Field is required</font>")
                if (validity) {
                    validity = false;
                }
            } else {
                $(validator).html("<i></i>");
            }
        }
        return validity;                
    };

    function SaveGeneralLiability() {
        var GeneralLiability = new Array(7);

        for (var i = 0; i < GeneralLiability.length; i++) {
            GeneralLiability[i] = new Array(2);
        }

        for (var i = 1; i <= 7; i++) {
            for (var j = 0; j < 2; j++) {
                GeneralLiability[i - 1][0] = "GeneralLiabilityInsurance" + i;
                var generalLiability = "#GeneralLiabilityInsurance" + i;
                GeneralLiability[i - 1][1] = $(generalLiability).val();
            }
        }

        var postData = { Answers: GeneralLiability, ClientInformationSheet: clientInformationSheet };
        $.ajax({
            url: '@Url.Action("UpdateAnswer", "Information")',
            type: "POST",
            data: postData
        })
            .done(function (data) {
                return true;
            })
            .fail(function (a, s, d) {
                alert("Unable to save.");
            });
    };   
</script>

<style>
    .required:after {
        content: " *";
        color: red;
        font-size: 20px;
    }
</style>