@model DealEngine.WebUI.Models.InformationViewModel

<form id="PIViewModel" class="is-valid" data-accordianId="Run Off Insurance">
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label for="RunOffText" class="label">
                    Run Off Text Wording
                </label>
            </div>

        </div>
    </div>




</form>
