@model DealEngine.WebUI.Models.InformationViewModel

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

        <div id="ceasprojecttabs">
            <ul id="tab" class="nav nav-tabs">
                <li class="nav nav-tabs active"> <a href="#pminzprojectTabs1"> List All </a> </li>
                <li class="nav nav-tabs"> <a href="#pminzprojectTabs2"> Edit </a> </li>
                <li class="nav nav-tabs"> <a href="#pminzprojectTabs3"> Add </a> </li>
                <li class="nav nav-tabs"> <a href="#pminzprojectTabs4" Class="PMINZProjectRemoved"> List Removed </a> </li>

            </ul>

            <div id="pminzprojectTabs1" class="tab-content">

                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">

                                $(window).on('load',function () {
                                        $("#tblpminzproject").jqGrid({
                                            url: "/Services/Getceasprojects?informationId=@Model.ClientInformationSheet.Id&removed=false",
                                            datatype: "xml",
                                            mtype: "GET",
                                            async: true,
                                            colNames: ["", "Your Client (i.e. Employer)", "The Project Description", "Your Earned Fees", ""],
                                            colModel: [
                                                {
                                                    name: "update", align: 'center',width:120, search: false, formatter: function (cellvalue, options, rowobject) {
                                                        return ('<button onclick="EditCEASProject(\'' + cellvalue + '\', \'#tblpminzproject\'); SetCurrentTab(\'pminzprojectTabs2\');" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>');
                                                    }
                                                },
                                                { name: "Your Client (i.e. Employer)", align: 'center', key: 'true' },
                                                { name: "The Project Description", align: 'center' },
                                                { name: "Your Earned Fees", align: 'center' },
                                                {
                                                    name: "update", align: 'center',width:120, search: false, formatter: function (cellvalue, options, rowobject) {
                                                        return ('<button onclick="SetCEASProjectRemovedStatus(\'' + cellvalue + '\', \'true\', \'#tblpminzproject\', \'#tblRemovedCEASProject\');" type="button"  class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>');
                                                    }
                                                }
                                            ],
                                            autowidth: true,
                                            shrinkToFit: true,
                                            pager: "#pagerpminzproject",
                                            rowNum: 10,
                                            rowList: [10, 20, 30],
                                            sortname: "Your Client (i.e. Employer)",
                                            sortorder: "desc",
                                            viewrecords: true,
                                            gridview: true,
                                            autoencode: true
                                        });
                                        $("#tblpminzproject").jqGrid('navGrid',
                                            '#pagerpminzproject',
                                            { edit: false, add: false, del: false },
                                            //options
                                            { height: 280, reloadAfterSubmit: false },
                                            // edit options
                                            { height: 280, reloadAfterSubmit: false },
                                            // add options
                                            { reloadAfterSubmit: false },
                                            // del options
                                            { sopt: ['eq', 'bw', 'cn'] }
                                            // search options
                                        );


                                });

                            </script>
                            <table id="tblpminzproject"><tr><td></td></tr></table>

                            <div id="pagerpminzproject"></div>

                        </section>
                    </div>
                </fieldset>
            </div>
            <div id="pminzprojectTabs2" class="tab-content">

                <fieldset id="fieldset">
                    <input id="EditPMINZProjectId" name="BusinessContractId" type="hidden" />


                    <div class="row">
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Description of Project:</label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="ProjectDescription" id="EditPMINZProjectDescription" name="ProjectDescription" placeholder="The Project Description" value="">
                                </label>
                                <p class="validationContainer" id="validateEditProjectDescription"></p>

                            </section>
                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Fees Earned:</label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input">
                                    <i></i>
                                    <input class="form-control b" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="EditPMINZFees" name="Fees" placeholder="$ Your Earned Fees" value="" required>

                                </label>
                                <p class="validationContainer" id="validateEditFees"></p>

                            </section>
                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                <label class="label">
                                    Contract Value:
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                <label class="input form-group">
                                    <i></i>
                                    <input class="form-control b" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="EditPMINZContractValue" name="ConstructionValue" placeholder="$ Contract Value" value="" required>
                                </label>

                                <p class="validationContainer" id="validateEditContractValue"></p>
                            </section>
                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                <label class="label">
                                    Duration (Months):
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                <label class="input form-group">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="Fees" id="EditPMINZDuration" name="ProjectDuration" placeholder="Duration in Months" value="">
                                </label>

                                <p class="validationContainer" id="validateEditDuration"></p>
                            </section>
                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Your Major Responsibilities</label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="checkbox" id="EditPMINZProjectDirector" name="EditProjectDirector" value="true"> Proj. Director<br>
                                <input type="checkbox" id="EditPMINZProjectManager" name="EditProjectManager" value="true"> Proj. Manager<br>
                                <input type="checkbox" id="EditPMINZProjectCoordinator" name="EditProjectCoordinator" value="true"> Proj. Coordinator/Administrator<br>
                                <input type="checkbox" id="EditPMINZProjectEngineer" name="EditProjectEngineer" value="true"> Proj. Engineers<br>

                            </section>

                        </section>

                    </div>

                    <div class="row" id="update">
                        <section class="col col-xs-12">
                            <button onclick="ValidateEditPMINZProject(event,'#pminzprojectTabs2', '#tblpminzproject','pminzprojectTabs1')" class="btn-sm updateBoat" id="updateceasproject">Update</button>
                            <button onclick="ClearBoats(event,'#pminzprojectTabs2','pminzprojectTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>

                        </section>
                    </div>
                </fieldset>
            </div>

            <div id="pminzprojectTabs3" class="tab-content">

                <fieldset id="fieldset">
                    <input id="PMINZProjectId" name="BusinessContractId" type="hidden" />

                    <div class="row">
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Description of Project:</label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="ProjectDescription" id="AddPMINZProjectDescription" name="ProjectDescription" placeholder="The Project Description" value="">
                                </label>
                                <p class="validationContainer" id="validateAddProjectDescription"></p>

                            </section>
                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Fees Earned:</label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="input">
                                    <i></i>
                                    <input class="form-control b" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="AddPMINZFees" name="Fees" placeholder="$ Your Earned Fees" value="" required>

                                </label>
                                <p class="validationContainer" id="validateAddFees"></p>

                            </section>
                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                <label class="label">
                                    Contract Value:
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                <label class="input form-group">
                                    <i></i>
                                    <input class="form-control b" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="AddPMINZContractValue" name="ConstructionValue" placeholder="$ Contract Value" value="" required>
                                </label>

                                <p class="validationContainer" id="validateAddContractValue"></p>
                            </section>
                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                <label class="label">
                                    Duration (Months):
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                <label class="input form-group">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="Fees" id="AddPMINZDuration" name="ProjectDuration" placeholder="Duration in Months" value="">
                                </label>

                                <p class="validationContainer" id="validateAddDuration"></p>
                            </section>
                        </section>


                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Your Major Responsibilities</label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="checkbox" id="AddPMINZProjectDirector" name="AddProjectDirector" value="true"> Proj. Director<br>
                                <input type="checkbox" id="AddPMINZProjectManager" name="AddProjectManager" value="true"> Proj. Manager<br>
                                <input type="checkbox" id="AddPMINZProjectCoordinator" name="AddProjectCoordinator" value="true"> Proj. Coordinator/Administrator<br>
                                <input type="checkbox" id="AddPMINZProjectEngineer" name="AddProjectEngineer" value="true"> Proj. Engineers<br>

                            </section>

                        </section>
                       
                    </div>

                    <div class="row" id="update">
                        <section class="col col-xs-12">
                            <button onclick="ValidateAddPMINZProject(event,'#pminzprojectTabs3', '#tblpminzproject','pminzprojectTabs1')" class="btn-sm AddupdateBoat" id="updateBusinessContract">Add</button>
                            <button onclick="ClearBoats(event,'#pminzprojectTabs3','pminzprojectTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Clear and Cancel</button>

                        </section>
                    </div>

                </fieldset>
            </div>
            <div id="pminzprojectTabs4" class="tab-content">

                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">
                                $(".PMINZProjectRemoved").click(function () {
						    $("#tblRemovedpminzProject").jqGrid({
						        url: "/Services/Getceasprojects?informationId=@Model.ClientInformationSheet.Id&removed=true",
						        datatype: "xml",
                                mtype: "GET",
                                async: true,
                                colNames: ["", "Your Client (i.e. Employer)", "The Project Description","Your Earned Fees"],
                                colModel: [
                                    {
                                        name: "update", align: 'center',width:60, search: false, formatter: function (cellvalue, options, rowobject)
                                        { return '<button onclick="SetCEASProjectRemovedStatus(\'' + cellvalue + '\', \'false\', \'#tblRemovedCEASProject\', \'#tblpminzProject\'); SetCurrentTab(\'ceasprojectTabs1\');" type="button" class=" btn btn-success btn-sm" ><i class="fa fa-undo"></i></button>'; }
                                    },
                                    { name: "Your Client (i.e. Employer)", align: 'center', key: 'true' },
                                    { name: "The Project Description", align: 'center' },
                                    { name: "Your Earned Fees", align: 'center' }
								],
						        autowidth: true,
						        pager: "#pagerRemovedpminzProject",
						        rowNum: 10,
						        rowList: [10, 20, 30],
                                sortname: "Your Client (i.e. Employer)",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
						    $("#tblRemovedpminzProject").jqGrid('navGrid',
						    	'#pagerRemovedpminzProject',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                            </script>
                            <table id="tblRemovedpminzProject"><tr><td></td></tr></table>
                            <div id="pagerRemovedpminzProject"></div>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    function UpdateChosen() {
    // find all multiselect items and apply Chosen
	$('.cselect').each(function() {
		$('#'+this.id).trigger("chosen:updated");
	});
    };
    

      function ValidateEditPMINZProject(event,tabId, tableId, currenttab) {
        debugger;
            event.preventDefault();
        var projectDesc = $('#EditPMINZProjectDescription').val();
    
        var result = true;
       
        if (projectDesc == "") {
            $('#validateEditProjectDescription').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateEditProjectDescription').html("<font></font>");
        }
       
        if (result) {
            EditBusinessContract(event,tabId, tableId);
            SetCurrentTab(currenttab);
        } else {
            return result;
        }
      }

    function ValidateAddPMINZProject(event,tabId, tableId, currenttab) {
        debugger;
                event.preventDefault();
        var projectDesc = $('#AddPMINZProjectDescription').val();
    
        var result = true;
       
        if (projectDesc == "") {
            $('#validateAddProjectDescription').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateAddProjectDescription').html("<font></font>");
        }
       
        if (result) {
            AddBusinessContract(event,tabId, tableId);
            SetCurrentTab(currenttab);
        } else {
            return result;
        }
    }

      function AddBusinessContract(event,tabId, tableId,currenttab) {
        debugger;
                          event.preventDefault();

        var informationId = $('#AnswerSheetId').serialize();
        var data = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        var projectDirector = document.querySelectorAll('input[name="AddProjectDirector"]:checked');
        var projectManager = document.querySelectorAll('input[name="AddProjectManager"]:checked');
        var projectCoordinator = document.querySelectorAll('input[name="AddProjectCoordinator"]:checked');
        var projectEngineer = document.querySelectorAll('input[name="AddProjectEngineer"]:checked');
        var proddata = data + "&ProjectDirector=" + projectDirector + "&ProjectManager=" + projectManager + "&ProjectCoordinator=" + projectCoordinator + "&ProjectEngineer=" + projectEngineer;
           
        $.ajax({
		// change back once mono decides to fix
	    url: '@Url.Action("AddCEASProject", "Services")',
	    type: "POST",
	    data: proddata
	})
	.done(function (data) {
	     SetCurrentTab(currenttab);
		$(tableId).trigger( 'reloadGrid' );
		$(tabId + " :input").val("");

	})
        .fail(function (jqXHR, textStatus) {
		alert("There was an error while trying to save the BusinessContract.");
	});
    };

     function EditBusinessContract(event,tabId, tableId,currenttab) {
        debugger;
                          event.preventDefault();

        var informationId = $('#AnswerSheetId').serialize();
        var data = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        var projectDirector = document.querySelectorAll('input[name="EditProjectDirector"]:checked');
        var projectManager = document.querySelectorAll('input[name="EditProjectManager"]:checked');
        var projectCoordinator = document.querySelectorAll('input[name="EditProjectCoordinator"]:checked');
        var projectEngineer = document.querySelectorAll('input[name="EditProjectEngineer"]:checked');
        var proddata = data + "&ProjectDirector=" + projectDirector + "&ProjectManager=" + projectManager + "&ProjectCoordinator=" + projectCoordinator + "&ProjectEngineer=" + projectEngineer;
           
        $.ajax({
		// change back once mono decides to fix
	    url: '@Url.Action("AddCEASProject", "Services")',
	    type: "POST",
	    data: proddata
	})
	.done(function (data) {
	     SetCurrentTab(currenttab);
		$(tableId).trigger( 'reloadGrid' );
		$(tabId + " :input").val("");

	})
        .fail(function (jqXHR, textStatus) {
		alert("There was an error while trying to save the BusinessContract.");
	});
    };


    function EditCEASProject(businessContractId, tableId) {
        debugger;
       var _sheetId = $('#AnswerSheetId').val();
       var postData = {
		'CEASProjectId': businessContractId,
		'answerSheetId': _sheetId
	};

        $('#getDetailsModal').show();
	    $.ajax({
		// change back once mono decides to fix
	    url: '@Url.Action("GetCEASProject", "Services")',
        type: "Post",
        data: postData
        })
            .done(function (data) {
                debugger;
                
            $('#EditPMINZProjectId').val(data.businessContractId);

        $('#EditPMINZProjectDescription').val(data.projectDescription);
        $('#EditPMINZContractValue').val(data.constructionValue);
        $('#EditPMINZFees').val(data.fees);
        $('#EditPMINZDuration').val(data.projectDuration);
        $('input[name="ProjectDirector"]').prop('checked', data.projectDirector);
        $('input[name="ProjectManager"]').prop('checked', data.projectManager);
        $('input[name="ProjectCoordinator"]').prop('checked', data.projectCoordinator);
        $('input[name="ProjectEngineer"]').prop('checked', data.projectEngineer);
        $('#getDetailsModal').hide();
        UpdateChosen();
        });
    };

    function UpdateChosen() {
    // find all multiselect items and apply Chosen
	$('.cselect').each(function() {
		$('#'+this.id).trigger("chosen:updated");
	});
    };

    function SetCurrentTab(tabPaneId) {
        debugger;
        $('.nav-tabs a[href="#' + tabPaneId + '"]').trigger("click");
        $('.nav-tabs a[href="#' + tabPaneId + '"]').trigger('reloadGrid');
    };

    function SetCEASProjectRemovedStatus(businessContractId, status, sourceTable, destTable) {

            var postData = {
		'businessContractId': businessContractId,
		'status': status
	};

            $.ajax({
            // change back once mono decides to fix
            url: '@Url.Action("SetBusinessContractRemovedStatus", "Services")',
            type: "Post",
            data: postData,
            async: true
        })
        .done(function (data) {
            if (data === true) {
                $(sourceTable).trigger('reloadGrid');
                $(destTable).trigger('reloadGrid');
                //$.smallBox({
                //    title: "Location status has been updated",
                //    color: "#5F895F",
                //    iconSmall: "fa fa-check bounce animated",
                //    timeout: 4000
                //});
            }
        });
    };


    


</script>


