@model DealEngine.WebUI.Models.InformationViewModel

<div id="SharedRevenue">
    
        @*@if (Model.RevenueByActivityViewModel.RevenueData != null)
        {
            @await Html.PartialAsync("/Views/Information/PrefabSections/SharedRevenue/Existing.cshtml", Model.RevenueByActivityViewModel)
        }
        else
        {*@
            @await Html.PartialAsync("/Views/Information/PrefabSections/SharedRevenue/New.cshtml", Model.RevenueByActivityViewModel)
        @*}*@

</div>
