<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">MyDealsLive.com</h1>
    <div class="container-fluid">

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">For quick quote click below</h3>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <a href="~/Account/CoastGuardReg">
                            <img class="w100" src="https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">


        <div class="hero">
            <img src="~/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">About MyDealsLive.com - Are you up to date?</h5>
                <p>
                    Proven technology from a team with proven experience leading the way over 11 years.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">Whatever device you need to use</h5>
                <p>
                    Truly liquid MyDealsLive.com provides the right experience whether using a phone, tablet or laptop. Fully internationalized and localized.
                </p>
            </div>
        </div>
    </div>
</div>