<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">Proposalonline</h1>
    <div class="hero">
        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">The easy way to find, select and get financial and risk protection products. Experience control everywhere you go.</h4>
            <div class="login-app-icons">
                @*<a href="https://demo.proposalonline.com" class="btn btn-danger btn-sm">View Demo</a>*@
                @*@if (Html.DemoEnvironment())
                {
                    <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
                }*@
            </div>

            <h4 class="paragraph-header">Keep your deals together.</h4>
            <br />
            @*@if (Html.DemoEnvironment())
            {<a href="javascript:void(0);" class="btn btn-danger btn-sm">My Deals Live</a>}
            *@

        </div>
        <img src="~/img/iphoneview.png"  class="pull-right display-image" alt="" style="width:210px"/>
        @*<img src="~/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

        <img src="~/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">*@
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">About Proposalonline - Are you up to date?</h5>
            <p>
                Proven technology from a team with proven experience leading the way over 13 years.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Whatever device you need to use</h5>
            <p>
                Truly liquid Proposalonline provides the right experience whether using a phone, tablet or laptop. Fully internationalized and localized.
            </p>
        </div>
    </div>
</div>