<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs hidden-sm">
    <div class="container">        

        <div class="row col-6">
            <div class="card">
                <div class="card-header">
                    For quick quote click below
                </div>
                <div class="card-body">
                    <a href="~/Account/CoastGuardReg">
                        <img class="w100" src="https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg">
                    </a>
                </div>
            </div>
        </div>

        <div class="row col-6">
            <div class="hero">
                <img src="~/img/demo/iphoneview.png" class="pull-right" alt="" style="width:210px" height="370">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        About MyDealsLive.com - Are you up to date?
                    </div>
                    <div class="card-body">
                        Proven technology from a team with proven experience leading the way over 11 years.
                    </div>
                </div>
            </div>
            <br>
            <div class="col-6">
                <div class="card" dis>
                    <div class="card-header">
                        Whatever device you need to use
                    </div>
                    <div class="card-body">
                        Truly liquid MyDealsLive.com provides the right experience whether using a phone, tablet or laptop. Fully internationalized and localized.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>