@model TechCertain.WebUI.Models.AccountResetPasswordModel
@{
    ViewBag.PageId = "extr-page";
}
@section topright{
    <span id="extr-page-header-space"> <span class="hidden-mobile">Already registered?</span> <a href="~/Account/Login" class="btn btn-danger">Sign In</a> </span>
    @*TODO Change back when mono 4.3 or later is installed*@
    @*<span id="extr-page-header-space"> <span class="hidden-mobile">Already registered?</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">Sign In</a> </span>*@
}
<div id="content" class="container">
    <div class="row">
        <div class="container col-6">
            <div class="well no-padding smart-form client-form">
                <header>
                    Notice
                </header>
                <fieldset>
                    <section>
                        <label>
                            Please enter the email address that you recieve Proposalonline emails from and then click <b>Send email</b> below.<br />
                            We'll then send you an email with instructions on how to change your password.
                        </label>
                    </section>
                </fieldset>
            </div>
            <div class="well no-padding">
                <form action="~/Account/ResetPassword" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        Reset your password
                    </header>
                    @Html.AntiForgeryToken()
                    @if (Html.ViewData.ModelState.ErrorCount != 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Html.ValidationSummary()
                        </div>
                    }

                    <fieldset>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" placeholder="E-mail Address">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter the email address the account was registered with</b>
                            </label>
                            <div class="note">
                                <a href="~/Account/Login"><i class="fa fa-smile-o"></i> I remembered my password!</a>
                            </div>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-envelope"></i>
                            Send email
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
@section pagespecific{
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}