@model TechCertain.WebUI.Models.OrganisationViewModel
@using TechCertain.WebUI.Helpers.CustomHtml

<!-- MAIN CONTENT -->
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i> Add New Organisation
            </h1>
        </div>
        <!-- end col -->
    </div>
    <form action="~/Organisation/CreateOrganisation" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">
        <section id="widget-grid-organisation" class="">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-6">
                    <!-- new widget -->
                    <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1" data-widget-editbutton="true" data-widget-colorbutton="false">

                        <section>
                            <header>Organisation</header>
                            <table class="table table-bordered table-striped table-hover table-condensed">
                                <tbody>
                                    <tr>
                                        <td align="center">
                                            <b>Organisation Type</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <select class="browser-default custom-select custom-select-lg mb-3 col-lg-12" name="OrganisationType">
                                                    <option selected>Corporation – Limited liability</option>
                                                </select>
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="center">
                                            <b>Insurance Attribute</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <select onchange="IASelected()" id="InsuranceAttributeName" name="InsuranceAttributeName" class="form-control b">
                                                    <option selected>--Select--</option>
                                                    <option value="Marina"> Marina</option>
                                                    <option value="Other Marina">Other Marina</option>
                                                    <option value="Financial">Financial</option>
                                                </select>
                                            </label>
                                        </td>
                                    </tr>

                                    <tr class="hidden" id="trOrganisationMarinaOrgMooredType">
                                        <td align="center">
                                            <b>Marina Moored Type</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <select name="OrganisationMarinaOrgMooredType" multiple class="chosen-select form-control b">

                                                    @foreach (var selectListItem in Model.OrgMooredType)
                                                    {
                                                        <option value=@selectListItem.Value> @selectListItem.Text</option>
                                                    }

                                                </select>

                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="center">
                                            <b>Name</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="OrganisationName" placeholder="Organisation name">
                                            </label>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td align="center">
                                            <b>Email</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                <input type="text" name="OrganisationEmail" placeholder="Email Address">
                                            </label>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td align="center">
                                            <b>Phone Number</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-phone"></i>
                                                <input type="text" name="OrganisationPhone" placeholder="Phone Number">
                                            </label>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td align="center">
                                            <b>Website</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-wechat"></i>
                                                <input type="text" name="OrganisationWebsite" placeholder="Website">
                                            </label>
                                        </td>

                                    </tr>


                                </tbody>
                            </table>
                        </section>
                        @*</div>*@

                    </div>
                </article>
            </div>
        </section>

        <section id="widget-grid-Location" class="">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-6">
                    <!-- new widget -->
                    <div class="jarviswidget jarviswidget-color-blue" id="wid-id-3" data-widget-editbutton="true" data-widget-colorbutton="false">
                        <section>
                            <header>Location</header>
                            <table class="table table-bordered table-striped table-hover table-condensed">
                                <tbody>
                                    <tr>
                                        <td align="center">
                                            <b>Street Address</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-location-arrow"></i>
                                                <input type="text" name="LocationStreetAddress" placeholder="Street Address">
                                            </label>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td align="center">
                                            <b>Suburb</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-home"></i>
                                                <input type="text" name="LocationSuburb" placeholder="Suburb">
                                            </label>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td align="center">
                                            <b>Post Code</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                <input type="text" name="LocationPostCode" placeholder="Postcode">
                                            </label>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td align="center">
                                            <b>City</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-joomla"></i>
                                                <input type="text" name="LocationCity" placeholder="City">
                                            </label>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td align="center">
                                            <b>Country</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-group"></i>
                                                <input type="text" name="LocationCountry" placeholder="Country">
                                            </label>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td align="center">
                                            <b>Common Name</b>
                                        </td>

                                        <td align="center">
                                            <label class="input">
                                                <i class="icon-append fa fa-joomla"></i>
                                                <input type="text" name="LocationCommonName" placeholder="Common Name">
                                            </label>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </article>
            </div>
        </section>
        @if (User.HasClaim("Edit", "EditMarinas/FinancialInstitutions"))
        {
            <div class="">
                <button type="Submit" class="btn txt-color-white bg-color-green btn-sm"><i class="fa fa-edit"></i> Add</button>
            </div>
        }

    </form>
</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S)-->
    <script type="text/javascript">
     $(".chosen-select").chosen({ width: "95%" });

        function IASelected() {
            debugger;
            var mooredtype =  document.getElementById("InsuranceAttributeName");

            var Mooredtype = mooredtype.options[mooredtype.selectedIndex].value;
            if (Mooredtype == 'Marina' || Mooredtype == 'Other Marina') {
                $('#trOrganisationMarinaOrgMooredType').removeClass('hidden');
            } else {
                                $('#trOrganisationMarinaOrgMooredType').addClass('hidden');

            }

        };

    function CreateOrganisation() {
    $.ajax({
    // change back once mono decides to fix
        url: '@Url.Action("CreateOrganisation", "Organisation")',
        type: "POST",
        data: ""
    })
        .done(function (data) {
            $.smallBox({
                title: "Success",
                content: "Organisation details have been added",
                color: "#5F895F",
                iconSmall: "fa fa-check bounce animated",
                timeout: 4000
            });

        })
        .fail(function () {
            alert("Unable to save.");
        });

    }

    function OrganisationUserOnChange() {
        //if condition for tcadminuser
    document.getElementById("wid-id-2").hidden = hidden;
    hidden = !(hidden);
    }


    </script>
}