@*@model TechCertain.WebUI.Models.Image.CKImageUploadViewModel>*@
@model TechCertain.WebUI.Models.Image.CKImageUploadViewModel
@{
    ViewData["Title"] = "CKImageHome";
}


<div id="content" style="background-color: #A6E2EF; height:92vh;">
    <!-- widget grid -->
    <section class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <div id="container" style="height: 90vh;  background-color:#A6E2EF;">

                    <div class="col-sm-10 offset-sm-1" style="margin-top:50px; ">
                        <!--<header style="color:black; margin:14px;">
                            <h2 class="thead-dark">Upload Image</h2>
                        </header>-->
                        <div class="col-sm-12" style="height:75vh;">

                            <div class="col-sm-12 mt-3 bg-light" style="height: 12%; border-color: black; border-width: 1px; border-style: solid;" name="toolbar">
                                <div class="col-sm-6 mt-3">
                                    <span id="logo" style="margin: 0 !important; padding: 0 !important;">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 311.36 46.77">
                                            <defs>
                                                <style>
                                                    .cls-1a {
                                                        fill: #85d2e3;
                                                    }

                                                    .cls-2a {
                                                        fill: #0080b2;
                                                    }

                                                    .cls-3a {
                                                        fill: #00afd3;
                                                    }

                                                    .cls-4a {
                                                        fill: #004180;
                                                    }

                                                    #Layer_1 {
                                                        width: 155px;
                                                        height: 34px
                                                    }
                                                </style>
                                            </defs>
                                            <title>18-1236_CA_Coastguard_Quick_Quote_Site Elements v1</title>
                                            <polygon class="cls-1a" points="60.76 46.77 40.51 35.08 60.76 23.39 60.76 46.77">
                                            </polygon>
                                            <polygon class="cls-2a" points="20.25 46.77 0 35.08 20.25 23.39 20.25 46.77"></polygon>
                                            <polygon class="cls-3a" points="40.51 35.08 60.76 23.39 60.76 0 20.25 23.39 40.51 35.08"></polygon>
                                            <polygon class="cls-2a" points="81.01 35.08 60.76 23.39 81.01 11.7 81.01 35.08"></polygon>
                                            <polygon class="cls-3a" points="60.76 46.77 81.01 35.08 60.76 23.39 60.76 46.77"></polygon>
                                            <polygon class="cls-3a" points="20.25 0 0 11.69 0 35.08 20.25 23.39 20.25 0"></polygon>
                                            <polygon class="cls-4a" points="20.25 23.39 40.51 11.69 20.25 0 20.25 23.39"></polygon>
                                            <polygon class="cls-1a" points="20.25 46.77 40.51 35.08 20.25 23.39 20.25 46.77"></polygon>
                                            <polygon class="cls-4a" points="60.76 23.39 81.01 11.69 60.76 0 60.76 23.39"></polygon>
                                            <path class="cls-3a" d="M219.94,26.51c6.86-.8,11.77-5.38,11.77-12.22,0-4.15-3.06-11.24-13.64-11.24H201.46V43.72H208V8.25h8.43c5.87,0,8.57,2.85,8.57,6.77s-3,6.75-9.43,6.75h-7.05l17.52,22h8.12Z"></path>
                                            <path class="cls-3a" d="M171.83,3.05L155.49,43.72h6.77l4.37-11.34h17.11l4.37,11.34h7L179,3.05h-7.19Zm3.55,7.39,6.38,16.62h-13l6.44-16.62h0.21Z"></path>
                                            <path class="cls-3a" d="M126.59,34.8L113.76,3.06h-9.28V43.72h6.28V12h0.14l12.74,31.77h5.59l13.34-32h0.13v32h6.38V3.06h-9.15L126.79,34.8h-0.2Z"></path>
                                            <path class="cls-3a" d="M239,39.78a25.11,25.11,0,0,0,15,4.69c8.7,0,14.76-4.27,14.76-11.5,0-7-6.78-10.17-12.55-12.87-4.56-2.12-8.83-3.66-8.83-7.09s2.67-5.41,7.26-5.41A18.79,18.79,0,0,1,265.5,11l2.9-5a25.31,25.31,0,0,0-13.59-3.74c-8.69,0-14.32,4.35-14.32,10.92,0,6.78,6.62,9.68,12.13,12.2,5.22,2.4,9.21,4.22,9.21,7.92s-3.24,5.82-8,5.82c-6.19,0-10.82-3.63-11.58-4.15Z"></path>
                                            <path class="cls-3a" d="M304.77,3.05v16.6H283.41V3.05h-6.59V43.72h6.59V25h21.36V43.72h6.59V3.05h-6.59Z"></path>
                                        </svg>
                                    </span>
                                    <h2 style="display: inline-block; margin: 0 !important; padding: 0 !important; vertical-align: top; padding-top: 4px !important;" class="">Images</h2>
                                </div>
                                <div class="col-sm-6 mt-3">
                                    <button type="button" class="float-left btn btn-default btn-sm mr-3">
                                        <span class="glyphicon glyphicon-filter"></span> Sort
                                    </button>
                                    <!-- Search icons not working, IIS woff files not allowed or files dont exist-->
                                    <input class="form-control float-left w-75" type="text" placeholder="Search" aria-label="Search">
                                </div>
                            </div>

                            <div class="col-sm-12 bg-light" style="height:60%; border-color: black; border-width: 1px; border-style: solid;" name="gallery">
                                <!-- Page Content -->
                                <div class="p-5" style="overflow-y:auto; height:44vh; width:100%;">
                                    <form enctype="multipart/form-data" asp-controller="CKImage" asp-action="Upload" method="post" class="mt-3">

                                        <table class="table">
                                            <tbody>
                                                @foreach (var img in Model.Item)
                                                {

                                                    <tr>
                                                        <td>@img.Name</td>
                                                        <td>@img.DateCreated</td>
                                                        @*https://stackoverflow.com/questions/54075745/how-to-create-thumbnail-image-in-net-core-using-the-help-of-iformfile*@
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <!--div class="row text-center text-lg-left">
                                            <div class="col-lg-3 col-md-4 col-6 ">
                                                <a href="#" class="d-block mb-4 h-75 ">
                                                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                                                </a>
                                                <label class="col-form-label mt-3"></label>
                                            </div>
                                        </div-->
                                    </form>
                                </div>
                            </div>

                            <div class="col-sm-12 bg-light" style="height:23%; border-color: black; border-width: 1px; border-style: solid;" name="controls">
                                <form enctype="multipart/form-data" asp-controller="CKImage" asp-action="Upload" method="post" class="mt-3">
                                    <div class="form-group row">
                                        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <input asp-for="Name" class="form-control" placeholder="Name">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">File</label>
                                        <div class="col-sm-10">
                                            <div class="custom-file">
                                                <input asp-for="Image" class="form-control custom-file-input" name="Image" id="fileUpload" />
                                                <label class="custom-file-label" id="custom-file-label">Choose File...</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <div class="btn-group float-right m-2" role="group">
                                            <button type="submit" class="btn btn-primary">Upload</button>
                                            <button type="button" class="btn btn-primary">Modify</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-bottom:30px;">
                    <button id="toggleCK" type="button" class="float-right">Toggle CK</button>
                </div>
                <div id="CK">
                    <textarea id="editor">

                    </textarea>
                </div>

                <div class="modal" id="ckmodal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Select an Image</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div id="images" class="modal-body col-sm-12">
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer" style="display:flex;">
                                <label for="selImg" style="float:left;">Selected Image: </label>
                                <input type="text" id="selImg" name="selImg" style="float:left;width:52%;margin-left:2rem;margin-right:2rem;">
                                <button id="importImg" type="button" class="btn btn-primary" data-dismiss="modal" onclick="importImg();">Import</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="editor">

                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jqueryui/jquery-ui.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/smartwizard/js/jquery.smartWizard.min.js" defer></script>
    <link href="~/smartwizard/cc/smart_wizard_theme_circles.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor5-build-classic-tc/build/ckeditor.js"></script>
    <link href="~/css/ckeditor.css" rel="stylesheet" />
    <script src="~/lib/nailthumb/jquery.nailthumb.1.1.min.js"></script>
    <link href="~/lib/nailthumb/jquery.nailthumb.1.1.min.css" rel="stylesheet" />
    <script>
        function selectImg(img) {
            var filename = img.name;
            $('#selImg').val(filename);
        }
        function importImg() {
            var filename = $('#selImg').val();
            $('#importImg').val(filename);
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nailthumb-container').nailthumb();

            $("#toggleCK").click(function () {
                if ($("#CK").is(":visible")) {
                    $("#CK").hide();
                }
                else {
                    $("#CK").show();
                }
            });

            $("#fileUpload").change(function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#custom-file-label').html(fileName);
                $("#custom-file-label").html(fileName);
            });

        });
    </script>
}
