@*@model TechCertain.WebUI.Models.Image.CKImageUploadViewModel>*@
@model TechCertain.WebUI.Models.Image.CKImageUploadViewModel
@{
    ViewData["Title"] = "CKImageHome";
}


<div id="content" style="background-color: #A6E2EF; height:92vh;">
    <!-- widget grid -->
    <section class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <div id="container" style="height: 90vh;  background-color:#A6E2EF;">
                    <div class="col-sm-10 offset-sm-1" style="margin-top:50px; ">
                        <div class="col-sm-12" style="height:75vh;">
                            <div class="col-sm-12 mt-3 bg-light" style="height: 12%; border-color: black; border-width: 1px; border-style: solid;" name="toolbar">
                                <div class="col-sm-6 mt-3">
                                    <h2 style="display: inline-block; margin: 0 !important; padding: 0 !important; vertical-align: top; padding-top: 4px !important;" class="">Image Gallery</h2>
                                </div>
                                @*<div class="col-sm-6 mt-3">
                                        <button type="button" class="float-left btn btn-default btn-sm mr-3">
                                            <span class="glyphicon glyphicon-filter"></span> Sort
                                        </button>
                                        <!-- Search icons not working, IIS woff files not allowed or files dont exist-->
                                        <input class="form-control float-left w-75" type="text" placeholder="Search" aria-label="Search">
                                    </div>*@
                            </div>

                            <div class="col-sm-12 bg-light" style="height:60%; border-color: black; border-width: 1px; border-style: solid;" name="gallery">
                                <!-- Page Content -->
                                <div class="p-5" style="overflow-y:auto; height:44vh; width:100%;">
                                    <form enctype="multipart/form-data" asp-controller="CKImage" asp-action="Upload" method="post" class="mt-3">
                                        <div>
                                            @foreach (var img in Model.Item)
                                            {
                                                <div class="col-sm-1">
                                                    <div class="nailthumb-container square-thumb col-sm-12">
                                                        <img onclick="selectImgCKHome()" style="max-height:100%; max-width:100%; vertical-align:middle;" src=@img.Path id=@img.Id name=@img.Name />
                                                    </div>
                                                    <label class="ckimporterlabel">@img.Name</label>
                                                </div>
                                            }
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-sm-12 bg-light" style="height:10%; border-color: black; border-width: 1px; border-style: solid;" name="controls">
                                @**@
                                <div class="form-group col-sm-3 float-left">
                                    <div class="btn-group float-left m-2" role="group">
                                        <button type="button" class="btn btn-danger m-4">Back to Dashboard</button>
                                    </div>
                                </div>
                                <div class="form-group col-sm-9 float-right" style="height: inherit; margin: 0px !important;">
                                    <div class="m-2 col-sm-6" style="height:inherit;">
                                        <label class="m-4" for="selImg" style="float:left;">Selected Image: </label>
                                        <input class="m-4" type="text" id="selImg" name="selImg" style="float:left; width:67%; margin-left:2rem; margin-right:2rem;">
                                    </div>
                                    <div class="btn-group float-right col-sm-5 mt-2" role="group">
                                        <div class="col-sm-12" style="height:inherit;">
                                            <button id="ckuploadbtn" onclick="" type="submit" class="btn btn-primary mt-4 mr-4">Upload Image</button>
                                            <button type="button" class="btn btn-primary mt-4 mr-4">Update Image</button>
                                            <button onclick="delImg()" type="button" class="btn btn-primary mt-4 mr-4">Delete Image</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="uploadmodal">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Select an Image</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <form enctype="multipart/form-data" asp-controller="CKImage" asp-action="Upload" method="post" class="mt-3">

                                            <!-- Modal body -->
                                            <div class="modal-body col-sm-12">
                                                <div class="form-group row">
                                                    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                                                    <div class="col-sm-10">
                                                        <input asp-for="Name" class="form-control" placeholder="Name">
                                                        <span asp-validation-for="Name" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">File</label>
                                                    <div class="col-sm-10">
                                                        <div class="custom-file">
                                                            <input asp-for="Image" class="form-control custom-file-input" name="Image" id="fileUpload" />
                                                            <label class="custom-file-label" id="custom-file-label">Choose File...</label>
                                                            <p>Please note: Only .jpg and .png file types are accepted.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer" style="display:flex;">
                                                <div class="btn-group float-right m-2" role="group">
                                                    <button id="" onclick="" type="submit" class="btn btn-primary m-4">Upload Image</button>
                                                </div>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="padding-bottom:30px;">
                    <button id="toggleCK" type="button" class="float-right">Toggle CK</button>
                </div>

                <div id="CK">
                    <div id="editor">
                        <!-- Delete one of the editors...? Only one is used -->
                    </div>
                </div>

                <div class="modal" id="ckmodal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Select an Image</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div id="images" class="modal-body col-sm-12">
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer" style="display:flex;">
                                <label for="selImg" style="float:left;">Selected Image: </label>
                                <input type="text" id="selImg" name="selImg" style="float:left;width:52%;margin-left:2rem;margin-right:2rem;">
                                <button id="importImg" type="button" class="btn btn-primary" data-dismiss="modal" onclick="importImg();">Import</button>
                            </div>

                        </div>
                    </div>
                </div>


            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jqueryui/jquery-ui.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/ckeditor/ckeditor5-build-classic-tc/build/ckeditor.js"></script>
    <link href="~/css/ckeditor.css" rel="stylesheet" />
    <script src="~/lib/nailthumb/jquery.nailthumb.1.1.min.js"></script>
    <link href="~/lib/nailthumb/jquery.nailthumb.1.1.min.css" rel="stylesheet" />
    <script>
        function selectImg(img) {
            var filename = img.name;
            $('#selImg').val(filename);
        }
        function importImg() {
            var filename = $('#selImg').val();
            $('#importImg').val(filename);
        }
        function delImg() {


        }
        function selectImgCKHome() {
            // get the image and save to something


        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#ckuploadbtn").click(function () {
                $("#uploadmodal").modal({
                    backdrop: true
                });
            });

            $('.nailthumb-container').nailthumb();

            $("#toggleCK").click(function () {
                if ($("#CK").is(":visible")) {
                    $("#CK").hide();
                }
                else {
                    $("#CK").show();
                }
            });

            $("#fileUpload").change(function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#custom-file-label').html(fileName);
                $("#custom-file-label").html(fileName);
            });

        });
    </script>
}
