@{
//if (!Request.IsAuthenticated)
//{
//    ViewBag.PageId = "extr-page";
//    ViewBag.PageClass = "animated fadeInDown";
//}
}

@section topright{

}

<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text-2 bounceInDown animated"> We're sorry... <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
                        <h2 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> It looks like you've sent us some data you shouldn't have</strong></h2>
                        <br />
                        <p class="lead">
                        	Your security is very important to us. Thats why we validate every page we recieve from you to ensure that you or your internet browser isn't trying to do anything it shouldn't be.
                        </p>
                        <p class="lead">
                        	In this case, it looks as if the validation has failed - most likely because we've recieved something from you that we shouldn't have. Because of this, we've automatically signed you out.
							Please click on the button below to go back to our login page.
                        </p>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-inline">                                 
                                    <li>
                                    	<a class="btn btn-default" href="~/Account/Login">Back to Login</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- END MAIN CONTENT -->

	<style>
    .error-text-2 {
        text-align: center;
        font-size: 700%;
        font-weight: bold;
        font-weight: 100;
        color: #333;
        line-height: 1;
        letter-spacing: -.05em;
        background-image: -webkit-linear-gradient(92deg,#333,#ed1c24);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    </style>
    <link href="/Content/css/animate.css" rel="stylesheet" type="text/css" />