@model BaseListViewModel<TechCertain.WebUI.Models.Agreement.ViewAgreementViewModel>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <span class="widget-icon">
                <h6><i class="fa fa-list-alt"></i> @ViewBag.Title </h6>
            </span>
        </div>
        <div class="card-body">
            <div class="client-form">
                @foreach (var item in Model)
                {
                    @await Html.PartialAsync("Partials/ViewAgreement", item);
                }
            </div>
        </div>
    </div>
</div>
