@model BaseListViewModel<TechCertain.WebUI.Models.Agreement.ViewAgreementViewModel>

<div class="container" id="viewdeclarationcontainer">
    <div class="card">
        <div class="card-header">
            <span class="widget-icon">
                <h6><i class="fa fa-list-alt"></i> @ViewBag.Title </h6>
            </span>
        </div>
        <div class="card-body">
            
            <div class="client-form no-padding">
                @foreach (var item in Model)
                {
                    @await Html.PartialAsync("Partials/ViewAgreementDeclaration", item)
                    break;
                }
            </div>            
        </div>        
    </div>    
</div>

<style>

    #viewdeclarationcontainer {
        margin-left: 0 !important;
    }
</style>